/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #232323;
}

a:active {
  text-decoration: none;
  color: #232323;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BobaesumJindoTTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BobaesumJindoTTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.info h1 {
  position: absolute;
  width: 50vw;
  left: 48vw;
  top: 10vw;
  font-family: "Bobaesum Jindo TTF";
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  color: #232323;
}
.info img:nth-of-type(1) {
  position: absolute;
  width: 25vw;
  left: 20vw;
  top: 10vw;
}
.info p {
  position: absolute;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  color: #232323;
}
.info p:nth-of-type(1) {
  left: 48vw;
  top: 13vw;
}
.info h4 {
  position: absolute;
  left: 48vw;
  top: 17vw;
  font-family: "Bobaesum Jindo TTF";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  color: #232323;
}
.info h4:nth-of-type(2) {
  left: 56vw;
  color: #FF8AA3;
}
.info h4:nth-of-type(3) {
  top: 19.5vw;
}
.info h4:nth-of-type(4) {
  top: 19.5vw;
  left: 56vw;
  color: #FEDA00;
}
.info span {
  position: absolute;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  color: #232323;
  line-height: 180%;
}
.info span:nth-of-type(1) {
  left: 48vw;
  top: 23.5vw;
  width: 40vw;
}
.info div {
  position: absolute;
  width: 100%;
  height: 20vw;
  top: 41vw;
  background: #FFF9D3;
}
.info h3 {
  position: absolute;
  font-family: "Bobaesum Jindo TTF";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  color: #232323;
}
.info h3:nth-of-type(1) {
  left: 21.5vw;
  top: 45vw;
}
.info span:nth-of-type(2) {
  width: 17.5vw;
  left: 21.5vw;
  top: 47.5vw;
  line-height: 150%;
}
.info p:nth-of-type(2) {
  left: 21.5vw;
  top: 53vw;
}
.info button {
  position: absolute;
  width: 6.5vw;
  height: 2vw;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #232323;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
}
.info button:nth-of-type(1) {
  left: 21.5vw;
  top: 56vw;
  background: #FEDA00;
}
.info button:nth-of-type(2) {
  left: 30vw;
  top: 56vw;
  background: #FEE283;
}
.info img:nth-of-type(2) {
  position: absolute;
  width: 10vw;
  left: 50vw;
  top: 46vw;
}
.info p:nth-of-type(3) {
  left: 52.7vw;
  top: 56.5vw;
}
.info img:nth-of-type(3) {
  position: absolute;
  width: 15vw;
  left: 65vw;
  top: 47vw;
}
.info p:nth-of-type(4) {
  position: absolute;
  left: 69.5vw;
  top: 56.5vw;
}
.info h3:nth-of-type(2) {
  left: 21.5vw;
  top: 65vw;
}
.info img:nth-of-type(4) {
  position: absolute;
  width: 60vw;
  left: 21.5vw;
  top: 70vw;
  z-index: -2;
}
.info img:nth-of-type(5) {
  position: absolute;
  width: 30vw;
  left: 34vw;
  top: 72vw;
  z-index: -1;
}
.info img:nth-of-type(6) {
  position: absolute;
  width: 50vw;
  left: 28vw;
  top: 70vw;
  z-index: 1;
}
.info span:nth-of-type(3) {
  width: 60vw;
  left: 21.5vw;
  top: 90vw;
  text-align: center;
}
.info a button:nth-of-type(1) {
  width: 10vw;
  height: 2.5vw;
  left: 40vw;
  top: 105vw;
  background: #FF8AA3;
  font-size: 1.5vw;
}
.info a:nth-of-type(2) button {
  width: 10vw;
  height: 2.5vw;
  left: 56vw;
  top: 105vw;
  background: #FFD4DC;
}

@media (max-width: 768px) {
  .info h1 {
    position: absolute;
    width: 50vw;
    left: 10vw;
    top: 15vw;
    font-family: "Bobaesum Jindo TTF";
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    color: #232323;
  }
  .info img:nth-of-type(1) {
    position: absolute;
    width: 44vw;
    left: 8vw;
    top: 21vw;
  }
  .info p {
    position: absolute;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 700;
    font-size: 2.2vw;
    color: #232323;
  }
  .info p:nth-of-type(1) {
    left: 53vw;
    top: 30vw;
  }
  .info h4 {
    position: absolute;
    left: 53vw;
    top: 21.2vw;
    font-family: "Bobaesum Jindo TTF";
    font-style: normal;
    font-weight: 400;
    font-size: 2.8vw;
    color: #232323;
  }
  .info h4:nth-of-type(2) {
    left: 69vw;
    color: #FF8AA3;
  }
  .info h4:nth-of-type(3) {
    top: 25vw;
  }
  .info h4:nth-of-type(4) {
    top: 25vw;
    left: 69vw;
    color: #FEDA00;
  }
  .info span {
    position: absolute;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    color: #232323;
    line-height: 170%;
  }
  .info span:nth-of-type(1) {
    left: 53vw;
    top: 33vw;
    width: 36.8vw;
  }
  .info div {
    position: absolute;
    width: 100%;
    height: 37vw;
    top: 70vw;
    background: #FFF9D3;
  }
  .info h3 {
    position: absolute;
    font-family: "Bobaesum Jindo TTF";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    color: #232323;
  }
  .info h3:nth-of-type(1) {
    left: 11vw;
    top: 75vw;
  }
  .info span:nth-of-type(2) {
    width: 35vw;
    left: 11vw;
    top: 80vw;
    line-height: 150%;
  }
  .info p:nth-of-type(2) {
    left: 11vw;
    top: 92vw;
    font-size: 2.2vw;
  }
  .info button {
    position: absolute;
    width: 12vw;
    height: 4vw;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #232323;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 700;
    font-size: 2.3vw;
  }
  .info button:nth-of-type(1) {
    left: 11vw;
    top: 97vw;
    background: #FEDA00;
  }
  .info button:nth-of-type(2) {
    left: 31vw;
    top: 97vw;
    background: #FEE283;
  }
  .info img:nth-of-type(2) {
    position: absolute;
    width: 14vw;
    left: 53vw;
    top: 80vw;
  }
  .info p:nth-of-type(3) {
    left: 55vw;
    top: 95vw;
  }
  .info img:nth-of-type(3) {
    position: absolute;
    width: 19vw;
    left: 70vw;
    top: 82vw;
  }
  .info p:nth-of-type(4) {
    position: absolute;
    left: 73vw;
    top: 95vw;
  }
  .info h3:nth-of-type(2) {
    left: 11vw;
    top: 115vw;
  }
  .info img:nth-of-type(4) {
    position: absolute;
    width: 85vw;
    left: 6vw;
    top: 120vw;
    z-index: -2;
  }
  .info img:nth-of-type(5) {
    position: absolute;
    width: 65vw;
    left: 15vw;
    top: 123vw;
    z-index: -1;
  }
  .info img:nth-of-type(6) {
    position: absolute;
    width: 80vw;
    left: 10vw;
    top: 126vw;
    z-index: 1;
  }
  .info span:nth-of-type(3) {
    width: 75vw;
    left: 11vw;
    top: 154vw;
    text-align: center;
    font-size: 2.2vw;
  }
  .info a button:nth-of-type(1) {
    width: 19vw;
    height: 4.5vw;
    left: 25vw;
    top: 190vw;
    background: #FF8AA3;
    font-size: 3vw;
  }
  .info a:nth-of-type(2) button {
    width: 19vw;
    height: 4.5vw;
    left: 50vw;
    top: 190vw;
    background: #FFD4DC;
  }
}
@media (max-width: 1440px) and (min-width: 769px) {
  .info h1 {
    position: absolute;
    width: 50vw;
    left: 49vw;
    top: 15vw;
    font-family: "Bobaesum Jindo TTF";
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    color: #232323;
  }
  .info img:nth-of-type(1) {
    position: absolute;
    width: 35vw;
    left: 12vw;
    top: 15vw;
  }
  .info p {
    position: absolute;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    color: #232323;
  }
  .info p:nth-of-type(1) {
    left: 49vw;
    top: 19vw;
  }
  .info h4 {
    position: absolute;
    left: 49vw;
    top: 23.5vw;
    font-family: "Bobaesum Jindo TTF";
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vw;
    color: #232323;
  }
  .info h4:nth-of-type(2) {
    left: 62vw;
    color: #FF8AA3;
  }
  .info h4:nth-of-type(3) {
    top: 27.5vw;
  }
  .info h4:nth-of-type(4) {
    top: 27.5vw;
    left: 62vw;
    color: #FEDA00;
  }
  .info span {
    position: absolute;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    color: #232323;
    line-height: 170%;
  }
  .info span:nth-of-type(1) {
    left: 49vw;
    top: 33vw;
    width: 45vw;
  }
  .info div {
    position: absolute;
    width: 100%;
    height: 30vw;
    top: 55vw;
    background: #FFF9D3;
  }
  .info h3 {
    position: absolute;
    font-family: "Bobaesum Jindo TTF";
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vw;
    color: #232323;
  }
  .info h3:nth-of-type(1) {
    left: 15vw;
    top: 60vw;
  }
  .info span:nth-of-type(2) {
    width: 25vw;
    left: 15vw;
    top: 63vw;
    line-height: 150%;
  }
  .info p:nth-of-type(2) {
    left: 15vw;
    top: 73.5vw;
    font-size: 1.5vw;
  }
  .info button {
    position: absolute;
    width: 10vw;
    height: 3vw;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #232323;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 700;
    font-size: 1.7vw;
  }
  .info button:nth-of-type(1) {
    left: 15vw;
    top: 77vw;
    background: #FEDA00;
  }
  .info button:nth-of-type(2) {
    left: 27vw;
    top: 77vw;
    background: #FEE283;
  }
  .info img:nth-of-type(2) {
    position: absolute;
    width: 15vw;
    left: 48vw;
    top: 62vw;
  }
  .info p:nth-of-type(3) {
    left: 52vw;
    top: 78vw;
  }
  .info img:nth-of-type(3) {
    position: absolute;
    width: 20vw;
    left: 68vw;
    top: 63vw;
  }
  .info p:nth-of-type(4) {
    position: absolute;
    left: 73vw;
    top: 78vw;
  }
  .info h3:nth-of-type(2) {
    left: 15vw;
    top: 90vw;
  }
  .info img:nth-of-type(4) {
    position: absolute;
    width: 75vw;
    left: 12vw;
    top: 98vw;
    z-index: -2;
  }
  .info img:nth-of-type(5) {
    position: absolute;
    width: 45vw;
    left: 28vw;
    top: 100vw;
    z-index: -1;
  }
  .info img:nth-of-type(6) {
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: 97vw;
    z-index: 1;
  }
  .info span:nth-of-type(3) {
    width: 70vw;
    left: 14vw;
    top: 123vw;
    text-align: center;
  }
  .info a button:nth-of-type(1) {
    width: 15vw;
    height: 3.5vw;
    left: 30vw;
    top: 145vw;
    background: #FF8AA3;
    font-size: 2vw;
  }
  .info a:nth-of-type(2) button {
    width: 15vw;
    height: 3.5vw;
    left: 55vw;
    top: 145vw;
    background: #FFD4DC;
  }
}/*# sourceMappingURL=Info.css.map */