@import './reset.scss';

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: $background;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999999;


    img {
        position: absolute;
        left: 4.5%;
        right: 89.43%;
        top: 15.5%;
        bottom: 21.25%;
        width: 110px;
        z-index: 100;
    }

    .menu {
        display: flex;
        gap: 2px;
        position: relative;
        justify-content: center;
        top: 30%;

        .menu-item {
            position: relative;
            opacity: 0;
            transform: translateY(50px);
            transition: all 1s ease-out;
        }

        .menu-item.visible {
            opacity: 1;
            transform: translateY(0);
        }

        a {
            font-family: 'Pretendard Variable';
            font-style: normal;
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 1.5rem;
            color: $textCaption;
            transition: all 0.4s ease;
            position: relative;
            background-color: #f6f6f6;
            padding: 3px 20px;
            border-radius: 50px;
            border: 1.5px solid transparent;

            &.active {
                color: $textStrong;
                border: 1.5px solid $textStrong;
            }
        }

        .indicator {
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $textStrong;
            transition: all 0.4s ease;
        }

        .menu-item.active .indicator {
            width: 100%;
        }

        a:nth-of-type(7) {
            position: absolute;
            font-family: 'Pretendard Variable';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            color: $background;
            background-color: $textStrong;
            right: 5vw;
        }

        a:nth-of-type(8) {
            position: absolute;
            font-family: 'Pretendard Variable';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            color: $background;
            background-color: $textStrong;
            right: 11vw;
        }
    }

    .menu-button {
        position: absolute;
        right: 10%;
        top: 10%;
        background: none;
        border: none;
        outline: none;
        display: none;

        img {
            width: 40px;
            z-index: 100;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 50px;

        img {
            width: 80px;
            left: 5%;
        }

        .menu-button {
            background: none;

            img {
                position: absolute;
                top: 5px;
                left: 80%;
                height: 30px;
                width: 30px;
                z-index: 100;
            }
        }

        .menu {
            display: none;

            &.open {
                position: absolute;
                width: 100%;
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: start;
                top: 50px;
                height: 350px;
                background-color: $background;
                gap: 15px;
                box-shadow: 0px 4px 7.3px rgba(0, 0, 0, 0.25);


            }

            a {
                position: relative;
                left: 20px;
                background: none;
                border: none;
                top: -22px;

                &.active {
                    color: $textStrong;
                    border: none;
                    font-weight: 700;

                }


                &:nth-of-type(7) {
                    width: 100px;
                    position: absolute;
                    top: 300px;

                    font-weight: 700;
                    font-size: 1rem;
                    color: $background;
                    background-color: $textStrong;
                    left: 35px;
                }

                &:nth-of-type(8) {
                    width: 100px;
                    position: absolute;
                    top: 300px;
                    font-weight: 700;
                    font-size: 1rem;
                    color: $background;
                    background-color: $textStrong;
                    left: 150px;
                }
            }
        }

        .menu-button {
            display: block;
            position: absolute;
        }

    }

    @media (max-width: 1440px) and (min-width: 769px) {
        height: 60px;
        padding: 0 15px;

        img {
            left: 4%;
            right: 88%;
            top: 13.5%;
            bottom: 18%;
            width: 90px;
            z-index: 100;
        }

        .menu {
            gap: 2px;

            a {
                font-size: 1.1rem;
                padding: 2px 12px;
            }

            a:nth-of-type(7) {
                right: 4vw;
            }

            a:nth-of-type(8) {
                right: 12vw;
            }
        }

        .menu-button {
            display: none;
        }
    }
}