@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #232323;
}

a:active {
  text-decoration: none;
  color: #232323;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BobaesumJindoTTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BobaesumJindoTTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#inquiryArea {
  position: relative;
  left: 260px;
  top: 75px;
  bottom: 0px;
  width: 1622px;
  height: 844px;
  background-color: #FFFFFF;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
#inquiryArea #strInquiry {
  position: absolute;
  font-family: "Bobaesum Jindo TTF";
  font-size: 50px;
  color: #232323;
  left: 50px;
  top: 50px;
  width: max-content;
  height: max-content;
}
#inquiryArea #updateBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 600;
  background-color: #FFC6D2;
  width: 180px;
  height: 50px;
  left: 1180px;
  top: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-top: -10px;
  cursor: pointer;
}
#inquiryArea #deleteBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 600;
  background-color: #FF8AA3;
  width: 180px;
  height: 50px;
  left: 1380px;
  top: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-top: -10px;
  cursor: pointer;
}
#inquiryArea span {
  position: absolute;
  font-family: "Pretendard-Regular";
  color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inquiryArea span:nth-of-type(1) {
  position: absolute;
  left: 50px;
  top: 180px;
  font-size: 30px;
  font-weight: 600;
}
#inquiryArea span:nth-of-type(2) {
  position: absolute;
  left: 130px;
  top: 180px;
  width: 800px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  font-weight: 400;
}
#inquiryArea span:nth-of-type(3) {
  position: absolute;
  left: 1260px;
  top: 180px;
  font-size: 30px;
  font-weight: 600;
}
#inquiryArea span:nth-of-type(4) {
  position: absolute;
  left: 1400px;
  top: 180px;
  font-size: 30px;
  font-weight: 400;
}
#inquiryArea #inquiryContent {
  position: absolute;
  left: 40px;
  top: 240px;
  width: 1535px;
  height: 240px;
  background-color: #FFF9D1;
  border: none;
}
#inquiryArea #inquiryContent #file {
  position: absolute;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  right: 30px;
  top: 170px;
  background-color: #FEDA00;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#inquiryArea #inquiryContent #inquiryContent {
  position: absolute;
  left: 10px;
  top: 1px;
  padding: 5px 10px;
  width: 1515px;
  height: 220px;
  font-family: "Pretendard-Regular";
  color: #232323;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 160%;
  overflow-y: auto;
  overflow-x: hidden;
}
#inquiryArea #noAnswerArea {
  position: absolute;
  left: 40px;
  top: 500px;
  width: 1535px;
  height: 300px;
}
#inquiryArea #noAnswerArea #noAnswerLogo {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 270px;
  height: 270px;
  z-index: 5;
}
#inquiryArea #noAnswerArea #precessingMessage {
  position: relative;
  left: 10px;
  top: 100px;
  width: 1515px;
  height: 180px;
  font-family: "Pretendard-Regular";
  font-size: 33px;
  font-weight: 600;
  background-color: #FFF3A7;
  border-radius: 25px;
  padding-left: 190px;
  padding-top: 10px;
}
#inquiryArea #answerArea {
  position: absolute;
  left: 40px;
  top: 500px;
  width: 1535px;
  height: 300px;
}
#inquiryArea #answerArea span {
  position: absolute;
  font-family: "Pretendard-Regular";
  color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inquiryArea #answerArea span:nth-of-type(1) {
  position: absolute;
  left: 10px;
  top: 30px;
  font-size: 30px;
  font-weight: 600;
}
#inquiryArea #answerArea span:nth-of-type(2) {
  position: absolute;
  left: 90px;
  top: 30px;
  font-size: 30px;
  font-weight: 400;
}
#inquiryArea #answerArea span:nth-of-type(3) {
  position: absolute;
  left: 1210px;
  top: 30px;
  font-size: 30px;
  font-weight: 600;
}
#inquiryArea #answerArea span:nth-of-type(4) {
  position: absolute;
  left: 1350px;
  top: 30px;
  font-size: 30px;
  font-weight: 400;
}
#inquiryArea #answerArea #answerContent {
  position: absolute;
  left: 1px;
  top: 80px;
  width: 1535px;
  height: 240px;
  background-color: #FFF3A7;
  border: none;
}
#inquiryArea #answerArea #answerContent #answerContent {
  position: absolute;
  left: 10px;
  top: 1px;
  padding: 5px 10px;
  width: 1515px;
  height: 220px;
  font-family: "Pretendard-Regular";
  color: #232323;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 160%;
  overflow-y: auto;
  overflow-x: hidden;
}
#inquiryArea .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#inquiryArea #finalCheck {
  width: 879px;
  height: 316px;
  border: 5px solid #FF8AA3;
  border-radius: 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
#inquiryArea #finalCheck #reallyDeleteInquiry {
  width: max-content;
  margin-top: 5px;
  height: 44px;
  font-family: "Bobaesum Jindo TTF";
  font-size: 40px;
  font-weight: 500;
  color: #232323;
}
#inquiryArea #finalCheck #inquiry {
  width: max-content;
  margin-top: 40px;
  height: 36px;
  font-family: "Pretendard-Regular";
  font-size: 30px;
  font-weight: 500;
  color: #FF5D18;
}
#inquiryArea #finalCheck #cancleDeleteInquiry {
  margin-top: 40px;
  margin-left: -220px;
  width: 171px;
  height: 44px;
  background-color: #FEDA00;
  border: none;
  border-radius: 25px;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 500;
  color: #232323;
  cursor: pointer;
}
#inquiryArea #finalCheck #confirmDeleteInquiry {
  margin-top: -44px;
  margin-left: 220px;
  width: 171px;
  height: 44px;
  background-color: #FF8AA3;
  border: none;
  border-radius: 25px;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 500;
  color: #232323;
  cursor: pointer;
}
#inquiryArea #completeDeleteInquiry {
  width: 879px;
  height: 316px;
  border: 5px solid #FF8AA3;
  border-radius: 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
#inquiryArea #completeDeleteInquiry #completedDeletteMessage {
  width: max-content;
  margin-top: 5px;
  height: 44px;
  font-family: "Bobaesum Jindo TTF";
  font-size: 40px;
  font-weight: 500;
  color: #232323;
}
#inquiryArea #completeDeleteInquiry #completeBtn {
  margin-top: 40px;
  width: 171px;
  height: 44px;
  background-color: #FEDA00;
  border: none;
  border-radius: 25px;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 500;
  color: #232323;
  cursor: pointer;
}

#updateInquiry {
  position: relative;
  left: 260px;
  top: 75px;
  bottom: 0px;
  width: 1622px;
  height: 844px;
  background-color: #FFFFFF;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
#updateInquiry #strUpdateInquiry {
  position: absolute;
  font-family: "Bobaesum Jindo TTF";
  font-size: 50px;
  color: #232323;
  left: 50px;
  top: 50px;
  width: max-content;
  height: max-content;
}
#updateInquiry #cancelBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 600;
  background-color: #FFC6D2;
  width: 180px;
  height: 50px;
  left: 1180px;
  top: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-top: -10px;
  cursor: pointer;
}
#updateInquiry #confirmBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 600;
  background-color: #FF8AA3;
  width: 180px;
  height: 50px;
  left: 1380px;
  top: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-top: -10px;
  cursor: pointer;
}
#updateInquiry .StringElement {
  position: absolute;
  font-family: "Pretendard-Regular";
  color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
#updateInquiry #strTitle {
  position: absolute;
  left: 50px;
  top: 180px;
  font-size: 30px;
  font-weight: 600;
}
#updateInquiry #inquiryTitle {
  position: absolute;
  left: 130px;
  top: 165px;
  width: 500px;
  height: 60px;
  font-size: 30px;
  font-weight: 400;
  border-radius: 15px;
  border: none;
  background-color: #FFF3A7;
  padding: 10px 15px;
  outline: none;
}
#updateInquiry #strDate {
  position: absolute;
  left: 1260px;
  top: 180px;
  font-size: 30px;
  font-weight: 600;
}
#updateInquiry #inquiryDate {
  position: absolute;
  left: 1400px;
  top: 180px;
  font-size: 30px;
  font-weight: 400;
}
#updateInquiry #updateInquiryContent {
  position: absolute;
  left: 40px;
  top: 240px;
  width: 1535px;
  height: 240px;
  background-color: #FFF9D1;
  border: none;
}
#updateInquiry #updateInquiryContent #updateFile {
  position: absolute;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 50px;
  outline: none;
  right: 30px;
  top: 170px;
  background-color: #FEDA00;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#updateInquiry #updateInquiryContent #updateFile #updateFileName {
  display: inline-block;
  max-width: 210px; /* 원하는 최대 길이 설정 */
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트는 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 '...' 표시 */
}
#updateInquiry #updateInquiryContent textarea {
  position: absolute;
  left: 10px;
  top: 1px;
  padding: 5px 10px;
  width: 1515px;
  height: 235px;
  font-family: "Pretendard-Regular";
  color: #232323;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 160%;
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
  outline: none;
}
#updateInquiry #updateNoAnswerArea {
  position: absolute;
  left: 40px;
  top: 500px;
  width: 1535px;
  height: 300px;
}
#updateInquiry #updateNoAnswerArea #updateNoAnswerLogo {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 270px;
  height: 270px;
  z-index: 5;
}
#updateInquiry #updateNoAnswerArea #updateProcessingMessage {
  position: relative;
  left: 10px;
  top: 100px;
  width: 1515px;
  height: 180px;
  font-family: "Pretendard-Regular";
  font-size: 33px;
  font-weight: 600;
  background-color: #FFF3A7;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 190px;
  padding-top: 10px;
}
#updateInquiry .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#updateInquiry #finalCheck {
  width: 879px;
  height: 316px;
  border: 5px solid #FF8AA3;
  border-radius: 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
#updateInquiry #finalCheck #reallyUpdateInquiry {
  width: max-content;
  margin-top: 5px;
  height: 44px;
  font-family: "Bobaesum Jindo TTF";
  font-size: 40px;
  font-weight: 500;
  color: #232323;
}
#updateInquiry #finalCheck #inquiry {
  width: max-content;
  margin-top: 40px;
  height: 36px;
  font-family: "Pretendard-Regular";
  font-size: 30px;
  font-weight: 500;
  color: #FF5D18;
}
#updateInquiry #finalCheck #cancleUpdateInquiry {
  margin-top: 40px;
  margin-left: -220px;
  width: 171px;
  height: 44px;
  background-color: #FEDA00;
  border: none;
  border-radius: 25px;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 500;
  color: #232323;
  cursor: pointer;
}
#updateInquiry #finalCheck #confirmUpdateInquiry {
  margin-top: -44px;
  margin-left: 220px;
  width: 171px;
  height: 44px;
  background-color: #FF8AA3;
  border: none;
  border-radius: 25px;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 500;
  color: #232323;
  cursor: pointer;
}
#updateInquiry #completeUpdateInquiry {
  width: 879px;
  height: 316px;
  border: 5px solid #FF8AA3;
  border-radius: 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
#updateInquiry #completeUpdateInquiry #completedUpdateMessage {
  width: max-content;
  margin-top: 5px;
  height: 44px;
  font-family: "Bobaesum Jindo TTF";
  font-size: 40px;
  font-weight: 500;
  color: #232323;
}
#updateInquiry #completeUpdateInquiry #completeBtn {
  margin-top: 40px;
  width: 171px;
  height: 44px;
  background-color: #FEDA00;
  border: none;
  border-radius: 25px;
  font-family: "Pretendard-Regular";
  font-size: 25px;
  font-weight: 500;
  color: #232323;
  cursor: pointer;
}