@import '../../../../common/reset/reset.scss';

.footerStyle {
  position: relative;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 8vw;
  background-color: #FFFFFF;
  cursor: default;
  border-radius: 0;

  #honbab_ukki {
    position: absolute;
    left: 6vw;
    top: 0px;
    width: 6vw;
  }

  p {
    position: absolute;
    top: 10px;
    color: $textStrong;
    width: inherit;
    font-family: "Pretendard-Regular";
    font-weight: 400;
    font-size: 1vw;
    line-height: 170%;
    cursor: pointer;
  }

  #first {
    left: 25vw;
  }

  #second {
    left: 40vw;
  }

  #third {
    left: 55vw;
  }

  .pinkArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2vw;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 0;

    P {
      position: absolute;
      top: 9px;
      color: #999999;
      font-family: "Pretendard-Regular";
      font-style: normal;
      font-weight: 700;
      font-size: 0.8vw;
      cursor: default;
     text-align: center;
    }
  }
}

@media (max-width: 1440px) and (min-width: 769px) {
  .footerStyle {
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 15vw;
    background-color: #FFFFFF;
    cursor: default;
    border-radius: 0;
  
    #honbab_ukki {
      position: absolute;
      left: 6vw;
      top: 0px;
      width: 8vw;
    }
  
    p {
      position: absolute;
      top: 0px;
      color: $textStrong;
      width: inherit;
      font-family: "Pretendard-Regular";
      font-weight: 400;
      font-size: 1.4vw;
      line-height: 170%;
      cursor: pointer;
    }
  
    #first {
      left: 20vw;
    }
  
    #second {
      left: 30vw;
    }
  
    #third {
      left: 45vw;
    }
  
    .pinkArea {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5vw;
      background-color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
      border-radius: 0;
  
      P {
        position: absolute;
        top: 1vw;
        color: #999999;
        font-family: "Pretendard-Regular";
        font-style: normal;
        font-weight: 700;
        font-size: 1.5vw;
        cursor: default;
       text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
.footerStyle {
  position: relative;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30vw;
  background-color: #FFFFFF;
  cursor: default;


  #honbab_ukki {
    position: absolute;
    left: 6vw;
    top: -15vw;
    width: 20vw;
  }

  p {
    position: absolute;
    top: 0px;
    color: $textStrong;
    width: inherit;
    font-family: "Pretendard-Regular";
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 170%;
    cursor: pointer;
  }

  #first {
    top: -14vw;
    left: 35vw;
  }

  #second {
    top: -14vw;
    left: 55vw;
  }

  #third {
    top: 3vw;
    left: 6vw;
  }

  .pinkArea {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 0;

    P {
      position: absolute;
      top: 2vw;
      color: #999999;
      font-family: "Pretendard-Regular";
      font-style: normal;
      font-weight: 700;
      font-size: 3vw;
      cursor: default;
     text-align: center;
    }
  }
}
}