// .wrapper {
//     display: flex;
//     flex-direction: column;
//     // min-height : 100vh;
//     height : 100vh;
// }

// .contentWrapper {
//     flex: 1; /* 메인 콘텐츠 영역이 남은 공간을 차지하도록 */
//     display: flex;
//     flex-direction: column;
//     background-color :red;
// }

// #footer {
//     flex-shrink: 0; /* 푸터가 줄어들지 않도록 */
//     background-color: #f8f9fa;
//     padding: 20px;
//     text-align: center;
//     width: 100%;
// }

/* userlayout.module.css */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.contentWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // background-color: red;
    overflow-y: auto;
}

.contentWrapper:after {content: ''; display: block; clear: both;}
