@import "../../../../common/reset/reset.scss";

#profile{
    position :absolute;
    padding: 30px 30px;
    left : 120px;
    top : 540px;
    width : 244px;
    height : 221px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

@media screen and (min-width : 769px) and (max-width : 1024px){
    #profile{
        position :absolute;
        padding: 20px 20px;
        left : 50px;
        top : 295px;
        width : 126px;
        height : 114px;
        border-radius: 30px;
        background-color: #FFFFFF;
    }
}

@media screen and (max-width : 768px){
    #profile{
        position :absolute;
        padding: 10px 10px;
        left : 32px;
        top : 240px;
        width : 100px;
        height : 100px;
        border-radius: 15px;
        background-color: #FFFFFF;
    }
}