@import "../../../../common/reset/reset.scss";

#profile{
    position :relative;
    left : 90px;
    top : -135px;
    width : 244px;
    height : 221px;
    // border: none;
    border-radius: 50px;
    // border : 1px solid blue;
}