@import "../../../../common/reset/reset.scss";

#representativePhoto{
    position: absolute;
    // padding: 30px 30px;
    left : 89px;
    top : 100px;
    width: 587px;
    height : 690px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    object-fit: fill;
}

@media screen and (min-width : 769px) and (max-width : 1024px){
    #representativePhoto{
        position: absolute;
        padding: 30px 30px;
        left : 30px;
        top : 80px;
        width: 304px;
        height : 350px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width:768px){
    #representativePhoto{
        position: absolute;
        padding: 30px 30px;
        left : 20px;
        top : 60px;
        width: 230px;
        height : 290px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
 