@import "../../../../common/reset/reset.scss";

#representativePhoto{
    position: relative;
    left : 58px;
    top : 115px;
    width: 587px;
    height : 690px;
    // border: none;
    // border: 1px solid red;
    border-radius: 50px;
}
 