@import "../../../../common/reset/reset.scss";
.overLay{
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 9;
    display: block;
}

.termsOfUse{
    position: absolute;
    left : 720px;
    top : 490px;
    width : 1107px;
    height : 210px;
    background-color: $secondary2;
    border: none;
    border-radius: 30px;

    #strTerms{
        position: absolute;
        left : 50px;
        top : 20px;
        width : max-content;
        height: max-content;
        font-family: 'Pretendard-Regular';
        color: $textStrong;
        line-height: 160%;
        font-size: 25px;
        font-weight: 600;
        // border: 1px solid red;
    }

    #temsArea{
        position: absolute;
        left : 50px;
        top : 60px;
        width : 1018px;
        height : 130px;
        background-color: #FFFFFF;
        border: none;
        border-radius: 0px;
        overflow: scroll;
        overflow-x: hidden;

        p{
            font-family: 'Pretendard-Regular';
            color: $textStrong;
            line-height: 160%;
            font-size: 15px;
            margin: 12px;
        }
    }
}

.agreeArea{
    position: absolute;
    left : 885px;
    top : 720px;

    button{
        background-color: #FFFFFF;
        border: 4px solid $primary;
        border-radius: 50px;
        height : 49px;
        font-family: 'Pretendard-Regular';
        font-size: 25px;
        font-weight: 600;
        color: $textStrong;
        cursor: pointer;
    }

    #agree{
        width : 700px;
        margin-left : -140px;
    }

    #agreeAll{
        width : 330px;
        margin-left: 30px;
    }

}

#completeReservation{
    position : absolute;
    left : 550px;
    top : 300px;
    width : 800px;
    height : 316px;
    border: 5px solid $primary;
    border-radius: 50px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    #completeMessage{
        width: max-content;
        margin-top: 5px;
        height : 44px;
        font-family: 'Bobaesum Jindo TTF';
        font-size: 40px;
        font-weight: 500;
        color: $textStrong;
    }

    #comfirnEmailMessage{
        width: max-content;
        margin-top: 40px;
        height : 36px;
        font-family: 'Pretendard-Regular';
        font-size: 30px;
        font-weight: 500;
        color: $danger;
    }

    #toMain{
        margin-top: 40px;
        margin-left: -220px;
        width: 171px;
        height : 44px;
        background-color: $secondary;
        border: none;
        border-radius: 25px;
        font-family: 'Pretendard-Regular';
        font-size: 25px;
        font-weight: 500;
        color: $textStrong;
        cursor: pointer;
    }

    #toMypage{
        margin-top: -44px;
        margin-left: 220px;
        width: 171px;
        height : 44px;
        background-color: $primary;
        border: none;
        border-radius: 25px;
        font-family: 'Pretendard-Regular';
        font-size: 25px;
        font-weight: 500;
        color: $textStrong;
        cursor: pointer;
    }
}

#duplicateReservation{
    position : absolute;
    left : 550px;
    top : 300px;
    width : 800px;
    height : 316px;
    border: 5px solid $primary;
    border-radius: 50px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    #failMessage{
        width: max-content;
        margin-top: 5px;
        height : 44px;
        font-family: 'Bobaesum Jindo TTF';
        font-size: 40px;
        font-weight: 500;
        color: $textStrong;
    }

    #duplicateMessage{
        width: max-content;
        margin-top: 40px;
        height : 36px;
        font-family: 'Pretendard-Regular';
        font-size: 30px;
        font-weight: 500;
        color: $danger;
    }

    #confirm{
        margin-top: 40px;
        width: 171px;
        height : 44px;
        background-color: $secondary;
        border: none;
        border-radius: 25px;
        font-family: 'Pretendard-Regular';
        font-size: 25px;
        font-weight: 500;
        color: $textStrong;
        cursor: pointer;
    }
}

#failReservation{
    position : absolute;
    left : 550px;
    top : 300px;
    width : 800px;
    height : 316px;
    border: 5px solid $primary;
    border-radius: 50px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    #failMessage{
        width: max-content;
        margin-top: 5px;
        height : 44px;
        font-family: 'Bobaesum Jindo TTF';
        font-size: 40px;
        font-weight: 500;
        color: $textStrong;
    }

    #failReservationMessage{
        width: max-content;
        margin-top: 40px;
        height : 36px;
        font-family: 'Pretendard-Regular';
        font-size: 30px;
        font-weight: 500;
        color: $danger;
    }

    #confirm{
        margin-top: 40px;
        width: 171px;
        height : 44px;
        background-color: $secondary;
        border: none;
        border-radius: 25px;
        font-family: 'Pretendard-Regular';
        font-size: 25px;
        font-weight: 500;
        color: $textStrong;
        cursor: pointer;
    }
}


@media screen and (min-width : 769px) and (max-width : 1024px){
    .termsOfUse{
        position: absolute;
        left : 30px;
        top : 450px;
        width : 890px;
        height : 330px;
        background-color: $secondary2;
        border: none;
        border-radius: 30px;
    
        #strTerms{
            position: absolute;
            left : 30px;
            top : 20px;
            width : max-content;
            height: max-content;
            font-family: 'Pretendard-Regular';
            color: $textStrong;
            line-height: 160%;
            font-size: 20px;
            font-weight: 600;
            // border: 1px solid red;
        }
    
        #temsArea{
            position: absolute;
            left : 30px;
            top : 70px;
            width : 810px;
            height : 235px;
            background-color: #FFFFFF;
            border: none;
            border-radius: 0px;
            overflow: scroll;
            overflow-x: hidden;
    
            p{
                font-family: 'Pretendard-Regular';
                color: $textStrong;
                line-height: 160%;
                font-size: 15px;
                margin: 12px;
            }
        }
    }
    
    .agreeArea{
        position: absolute;
        left : 175px;
        top : 800px;
    
        button{
            background-color: #FFFFFF;
            border: 4px solid $primary;
            border-radius: 50px;
            height : 40px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 600;
            color: $textStrong;
            cursor: pointer;
        }
    
        #agree{
            width : 500px;
            margin-left : -115px;
        }
    
        #agreeAll{
            width : 300px;
            margin-left: 25px;
        }
    
    }

    #completeReservation{
        position : absolute;
        left : 225px;
        top : 360px;
        width : 500px;
        height : 190px;
        border: 3px solid $primary;
        border-radius: 30px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    
        #completeMessage{
            margin-top: 10px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 24px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #comfirnEmailMessage{
            margin-top: 8px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 500;
            color: $danger;
        }
    
        #toMain{
            margin-top: 10px;
            margin-left: -130px;
            width: 110px;
            height : 28px;
            background-color: $secondary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    
        #toMypage{
            margin-top: -28px;
            margin-left: 130px;
            width: 110px;
            height : 28px;
            background-color: $primary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }

    #duplicateReservation{
        position : absolute;
        left : 225px;
        top : 360px;
        width : 500px;
        height : 190px;
        border: 3px solid $primary;
        border-radius: 30px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    
        #failMessage{
            width: max-content;
            margin-top: 5px;
            height : 44px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 24px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #duplicateMessage{
            width: max-content;
            margin-top: 15px;
            height : 36px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 500;
            color: $danger;
        }
    
        #confirm{
            margin-top: 15px;
            width: 110px;
            height : 28px;
            background-color: $secondary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }
    
    #failReservation{
        position : absolute;
        left : 225px;
        top : 360px;
        width : 500px;
        height : 190px;
        border: 3px solid $primary;
        border-radius: 30px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    
        #failMessage{
            width: max-content;
            margin-top: 5px;
            height : 44px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 24px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #failReservationMessage{
            width: max-content;
            margin-top: 40px;
            height : 36px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 500;
            color: $danger;
        }
    
        #confirm{
            margin-top: 15px;
            width: 110px;
            height : 28px;
            background-color: $secondary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:768px){
    .termsOfUse{
        position: absolute;
        left : 20px;
        top : 600px;
        width : 580px;
        height : 460px;
        background-color: $secondary2;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    
        #strTerms{
            position: absolute;
            left : 20px;
            top : 20px;
            width : max-content;
            height: max-content;
            font-family: 'Pretendard-Regular';
            color: $textStrong;
            line-height: 160%;
            font-size: 18px;
            font-weight: 700;
            // border: 1px solid red;
        }
    
        #temsArea{
            position: absolute;
            left : 30px;
            top : 60px;
            width : 520px;
            height : 230px;
            background-color: #FFFFFF;
            border: none;
            border-radius: 0px;
            overflow: scroll;
            overflow-x: hidden;
    
            p{
                font-family: 'Pretendard-Regular';
                color: $textStrong;
                line-height: 160%;
                font-size: 15px;
                margin: 12px;
            }
        }
    }
    
    .agreeArea{
        position: absolute;

        button{
            background-color: #FFFFFF;
            border: 4px solid $primary;
            border-radius: 50px;
            height : 40px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 600;
            color: $textStrong;
            cursor: pointer;
        }
    
        #agree{
            position :absolute;
            left : -685px;
            top : 200px;
            width : 510px;
            margin-left : -145px;
        }
    
        #agreeAll{
            position:absolute;
            left : -770px;
            top : 270px;
            width : 320px;
        }
    }

    #completeReservation{
        position : absolute;
        left : 50px;
        top : 400px;
        width : 400px;
        height : 150px;
        border: 3px solid $primary;
        border-radius: 20px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    
        #completeMessage{
            margin-top: 2px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 18px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #comfirnEmailMessage{
            margin-top: -3px;
            font-family: 'Pretendard-Regular';
            font-size: 15px;
            font-weight: 500;
            color: $danger;
        }
    
        #toMain{
            margin-top: -2px;
            margin-left: -130px;
            width: 100px;
            height : 25px;
            background-color: $secondary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 15px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    
        #toMypage{
            margin-top: -25px;
            margin-left: 130px;
            width: 100px;
            height : 25px;
            background-color: $primary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 15px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }

    #duplicateReservation{
        position : absolute;
        left : 50px;
        top : 400px;
        width : 400px;
        height : 150px;
        border: 3px solid $primary;
        border-radius: 20px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    
        #failMessage{
            width: max-content;
            margin-top: 5px;
            height : 25px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 24px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #duplicateMessage{
            width: max-content;
            margin-top: 15px;
            height : 25px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 500;
            color: $danger;
        }
    
        #confirm{
            margin-top: 15px;
            width: 110px;
            height : 28px;
            background-color: $secondary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }
    
    #failReservation{
        position : absolute;
        left : 50px;
        top : 400px;
        width : 400px;
        height : 150px;
        border: 3px solid $primary;
        border-radius: 20px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
    
        #failMessage{
            width: max-content;
            margin-top: 5px;
            height : 25px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 24px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #failReservationMessage{
            width: max-content;
            margin-top: 15px;
            height : 28px;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            font-weight: 500;
            color: $danger;
        }
    
        #confirm{
            margin-top: 15px;
            width: 110px;
            height : 28px;
            background-color: $secondary;
            border: none;
            border-radius: 16px;
            font-family: 'Pretendard-Regular';
            font-size: 16px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }
}