@import "../../../../common/reset/reset.scss";

#btnWriteReview{
    position : absolute;
    left : 1530px;
    top : 2019px;
    width : 271px;
    height : 61px;
    background-color: $primary;
    border-radius: 50px;
    border: none;
    font-family: 'Pretendard Variable';
    font-size: 30px;
    font-weight: 600;
    color: $textStrong;
    cursor: pointer;
}

.createReview{

    position: absolute;
    left: 129px;
    top : 2124px;
    width : 1663px;
    height: 810px;
    border: 5px solid $primary;
    border-radius: 50px;
    background-color: #FFF9D1;
    z-index: 10;
    cursor: default;

    #strReview{
        position: absolute;
        left : 107px;
        top : 66px;
        width: max-content;
        font-family : 'Bobaesum Jindo TTF';
        font-size : 41px;
        font-weight: 600;
        color: $textStrong;
        z-index: 15;
    }

    #writeReviewArea{
        position: absolute;
        left: 83px;
        top : 210px;
        width : 1495px;
        height: 452px;
    }

    #inputReview{
        position : absolute;
        left : 145px;
        top : 239px;
        width : 835px;
        height : 355px;
        resize: none;  // 영역 조절 불가
        font-family: 'Pretendard Variable';
        font-size: 18px;
        color : $textStrong;
        cursor: text;
        border: none;
        // border: 1px solid blue;
    }

    #inputReview:focus{
        outline: none;
    }

    #addPhoto{
        position: absolute;
        left : 1260px;
        top : 354px;
        width : 113px;
        height : 113px;
        cursor: pointer;
    }

    #cancle{
        position: absolute;
        left : 1263px;
        top : 718px;
        width: 145px;
        height : 36px;
        border: none;
        border-radius: 20px;
        background-color: $secondary;
        font-family: 'Pretendard Variable';
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #submit{
        position: absolute;
        left : 1432px;
        top : 718px;
        width: 145px;
        height : 36px;
        border: none;
        border-radius: 20px;
        background-color: $primary;
        font-family: 'Pretendard Variable';
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


}