@import "../../../../common/reset/reset.scss";
#mapContainer{
    position : absolute;
    // left : 1044px;
    // top : 200px;
    left : 1064px;
    top : 580px;
    width: 698px;
    height : 360px;
    border : 7.21px solid #FFA8B8;
    border-Radius : 36px;

    .customoverlay{
        color : $textStrong;
        font-Family : 'Pretendard Variable';
        font-Size : 17px;
        font-Style : 'Regular';
        font-Weight : 600;
        display : block;
        flex-Direction : column;
        border : 2px solid #323232;
        border-Radius : 36px;
        background-Color : #FFFFFF;
        padding : 8px;
        text-Align : center;
        line-height: 130%;
    
        .mapLink{
            color : #007AFF;
            font-Family : 'Pretendard Variable';
            font-Size : 15px;
            font-Style : 'Regular';
            border : none;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    #mapContainer{
        position : absolute;
        // left : 490px;
        // top : 170px;
        left : 490px;
        top : 375px;
        width: 379px;
        height : 189px;
        border : 5.21px solid #FFA8B8;
        border-Radius : 20px;
    
        .customoverlay{
            color : $textStrong;
            font-Family : "Pretendard Variable";
            font-Size : 11px;
            font-Style : "Regular";
            font-Weight : 600;
            display : block;
            flex-Direction : column;
            border : 2px solid #323232;
            border-Radius : 36px;
            background-Color : #FFFFFF;
            padding : 5px;
            text-Align : center;
        
            .mapLink{
                color : #007AFF;
                font-Family : 'Pretendard Variable';
                font-Size : 11px;
                font-Style : 'Regular';
                border : none;
            }
        }
    }
}

@media screen and (max-width : 768px){
    #mapContainer{
        position : absolute;
        // left : 490px;
        // top : 170px;
        left : 30px;
        top : 265px;
        width: 410px;
        height : 150px;
        border : 3.21px solid #FFA8B8;
        border-Radius : 20px;
    
        .customoverlay{
            color : $textStrong;
            font-Family : "Pretendard Variable";
            font-Size : 11px;
            font-Style : "Regular";
            font-Weight : 600;
            display : block;
            flex-Direction : column;
            border : 2px solid #323232;
            border-Radius : 36px;
            background-Color : #FFFFFF;
            padding : 5px;
            text-Align : center;
        
            .mapLink{
                color : #007AFF;
                font-Family : 'Pretendard Variable';
                font-Size : 11px;
                font-Style : 'Regular';
                border : none;
            }
        }
    }
}

