@import "../../../../common/reset/reset.scss";

#menu{
    position : absolute;
    left : 235px;
    top : 884px;
    width : max-content;
    font-family : 'Pretendard Variable';
    font-size : 20px;
    color: $textCaption;
    cursor: pointer;
    border-radius: 0;
}

#xBtn{
    position: absolute;
    z-index: 10000;
    width : 30px;
    height : 30px;
    left : 640px;
    top : 405px;
    cursor: pointer;
    border-radius: 0;
}

#menuImg{
    position: absolute;
    z-index: 9999;
    width : 350px;
    height : 500px;
    left : 335px;
    top : 390px;
    border-radius: 0;
}

@media(max-width : 1024px){
    #menu{
        position : absolute;
        left : 118px;
        top : 533px;
        width : max-content;
        font-family : 'Pretendard Variable';
        font-size : 10px;
        color: $textCaption;
        cursor: pointer;
        border-radius: 0;
    }
    
    #xBtn{
        position: absolute;
        z-index: 10000;
        width : 20px;
        height : 20px;
        left : 350px;
        top : 273px;
        cursor: pointer;
        border-radius: 0;
    }
    
    #menuImg{
        position: absolute;
        z-index: 9999;
        width : 200px;
        height : 280px;
        left : 180px;
        top : 265px;
        border-radius: 0;
    }
}
