#profileStyle {
  position: absolute;
  left: 172px;
  top: 258px;
  width: 244px;
  height: 221px;
  text-align: center;
  z-index: 99;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #profileStyle {
    position: absolute;
    left: 55px;
    top: 168px;
    width: 122px;
    height: 110px;
    text-align: center;
    z-index: 99;
  }
}
@media screen and (max-width: 768px) {
  #profileStyle {
    position: absolute;
    left: 35px;
    top: 80px;
    width: 50px;
    height: 42px;
    text-align: center;
    z-index: 99;
  }
}