.profileStyle{
        position : absolute;
        left : 172px;
        top : 258px;
        width : 244px;
        height : 221px;
        text-align: center;
        z-index : 99;
}

@media (max-width : 1024px){
        .profileStyle{
          position : absolute;
          left : 52px;
          top : 170px;
          width : 100px;
          height : 90px;
          text-align: center;
          z-index : 99;
        }
}