@import "../../../../common/reset/reset.scss";

.reservationStyle {
    cursor: default;
    border-radius: 0;

    // 예약
    .reservationTitle {
        position: absolute;
        left: 112px;
        top: 1186px;
        width: 92px;
        font-family: 'Bobaesum Jindo TTF';
        font-size: 50px;
        color: $textStrong;
    }

    // 날짜를 선택해주세요
    .instructionDate {
        position: absolute;
        left: 112px;
        top: 1253px;
        width: max-content;
        font-family: 'Pretendard-Regular';
        font-size: 30px;
        color: $textStrong;
    }

    // 달력
    .calendarContainer {
        position: absolute;
        left: 112px;
        top: 1326px;
        width: 788px;

        #goToday{
            position : absolute;
            left : 260px;
            top : -75px;
            width : max-content;
            height : 36px;
            font-family: 'Pretendard-Regular';
            font-size: 30px;
            font-weight: 700;
            color : $pending;
            cursor: pointer;
        }

        .calendarHeader {
            height: 74px;
            background-color: $primary;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: #ffffff;
            font-family: 'Pretendard-Regular';
            font-size: 35px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 25px;
                height: 30px;
                cursor: pointer;
            }

            img:first-child {
                margin-right: 20px;
                transform: scaleX(-1);
            }

            img:last-child {
                margin-left: 20px;
            }
        }

        .calendarBody{
            position: absolute;
            margin-top: 30px;
            padding-left: 30px;
            padding-bottom: 25px;
            border: 4px solid $primary;
            border-top: none;
            width : 788px;
            // height : 440px;
            height: max-content;
            border-radius: 0px;
            
            .dayList {
                display: flex;
                width : 720px;

                .day{
                    flex: 1;
                    text-align: center;
                    font-family: 'Bobaesum Jindo TTF';
                    font-size: 30px;
                    font-weight: 700;
                }
                
            }

            .calendarGrid {
                position : relative;
                display: flex;
                flex-wrap: wrap;
                width : 720px;
                z-index : 1;

                .dateCell {
                    width: calc(100% / 7);
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    box-sizing: border-box;
                    margin-top: 20px;
                    cursor: pointer;
                    position : relative;
                    z-index : 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.currentMonth {
                        color : $textStrong;
                        font-family: 'Pretendard-Regular';
                        font-size: 25px;
                        font-weight: 700;
                    }

                    &.otherMonth {
                        color: #838383;
                        font-family: 'Pretendard-Regular';
                        font-size: 25px;
                        cursor: default;
                        font-weight: 700;
                    }

                    &.today{
                        background-color: $primary;
                        border-radius: 100px;
                        position : absolute;
                        top : 50%;
                        left : 50%;
                        z-index : 3;
                    }
                    img{
                        position : absolute;
                        z-index : -1;
                    }
                }
            }
        }

        .selectArea{
            position: absolute;
            width: 800px;
            height : 500px;
            left : 890px;
            top : -4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;


            .selectedDate{
                width: max-content;
                height: 50px;
                font-family: 'Bobaesum Jindo TTF';
                font-size: 45px;
                color: $textStrong;
            }

            .instructionTime {
                width : max-content;
                margin-left: 340px;
                // height : 31px;
                font-family: 'Pretendard-Regular';
                font-size: 30px;
                color: $textStrong;
                margin-top: -40px;
            }
    
            .morningArray{
                // border: 1px solid red;
                display: flex;
                flex-wrap: wrap;
                width : 780px;
                height : max-content;
                margin-top: 15px;
                margin-left: -10px;

                #strMoring{
                    display: block;
                    width : 100%;
                    margin-top: 20px;
                    margin-left: 10px;
                    font-family: 'Pretendard-Regular';
                    font-size: 25px;
                    font-weight: 600;
                }
    
                .morningArr{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width : 105px;
                    height : 37px;
                    background-color: $secondary;
                    border-radius: 10px;
                    font-family: 'Pretendard-Regular';
                    font-size: 20px;
                    text-align: center;
                    margin : 10px 10px;
                    cursor: pointer;
                }
            }

            .afternoonArray{
                // border: 1px solid red;
                display: flex;
                flex-wrap: wrap;
                width : 780px;
                height : max-content;
                margin-top: 5px;
                margin-left: -10px;

                #strAfternoon{
                    display: block;
                    width : 100%;
                    margin-top: 20px;
                    margin-left: 10px;
                    font-family: 'Pretendard-Regular';
                    font-size: 25px;
                    font-weight: 600;
                }
    
                .afternoonArr{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width : 105px;
                    height : 37px;
                    background-color: $secondary;
                    border-radius: 10px;
                    font-family: 'Pretendard-Regular';
                    font-size: 20px;
                    text-align: center;
                    margin : 10px 10px;
                    cursor: pointer;
                }
            }
        }

        .modalOverlay{
            position: fixed;
            top: 0;
            left: 0;
            right : 0;
            bottom : 0;
            background-color: rgba(255, 255, 255, 0.5);
            z-index: 998;
        }

        #timeConfirm{
            position : absolute;
            left : 440px;
            top : 40px;
            width : 800px;
            height : 330px;
            border: 5px solid $primary;
            border-radius: 50px;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #FFFFFF;
            line-height: 300%;
        
            #chooseOtherTime{
                width: max-content;
                margin-top: 10px;
                height : 44px;
                font-family: 'Bobaesum Jindo TTF';
                font-size: 35px;
                font-weight: 500;
                color: $textStrong;
            }
        
            #chooseAgainTime{
                margin-top: 100px;
                width: 171px;
                height : 44px;
                background-color: $secondary;
                border: none;
                border-radius: 25px;
                font-family: 'Pretendard-Regular';
                font-size: 25px;
                font-weight: 500;
                color: $textStrong;
                cursor: pointer;
            }
        }
    }
    #hr{
        position : absolute;
        left : 91px;
        top : 1905px;
        width : 1738px;
        background: #D9D9D9;
    }


}

@media screen and (min-width:769px) and (max-width :1024px){
    .reservationStyle {
        cursor: default;
        border-radius: 0;
    
        // 예약
        .reservationTitle {
            position: absolute;
            left: 51px;
            top: 694px;
            width: max-content;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 35px;
            color: $textStrong;
        }
    
        // 날짜를 선택해주세요
        .instructionDate {
            position: absolute;
            left: 51px;
            top: 739px;
            width: max-content;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            color: $textStrong;
        }
    
        // 달력
        .calendarContainer {
            position: absolute;
            left: 51px;
            top: 790px;
            width: 400px;
    
            #goToday{
                position : absolute;
                left : 175px;
                top : -53px;
                width : max-content;
                font-family: 'Pretendard-Regular';
                font-size: 20px;
                font-weight: 700;
                color : $pending;
                cursor: pointer;
            }
    
            .calendarHeader {
                height: 40px;
                background-color: $primary;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                color: #ffffff;
                font-family: 'Pretendard-Regular';
                font-size: 21px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 13.5px;
                    height: 16.3px;
                    cursor: pointer;
                }
    
                img:first-child {
                    margin-right: 20px;
                    transform: scaleX(-1);
                }
    
                img:last-child {
                    margin-left: 20px;
                }
            }

            .calendarBody{
                position: absolute;
                margin-top: 20px;
                padding-left: 15px;
                padding-bottom: 5px;
                border: 4px solid $primary;
                border-top: none;
                width : 400px;
                // height : 247px;
                height: max-content;
                border-radius: 0px;
                
                .dayList {
                    display: flex;
                    width : 365px;
                    margin-bottom: 7px;
    
                    .day{
                        flex: 1;
                        text-align: center;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
    
                .calendarGrid {
                    position : relative;
                    display: flex;
                    flex-wrap: wrap;
                    width : 365px;
                    z-index : 1;
                    cursor: pointer;
                    // border: 1px solid red;
    
                    .dateCell {
                        width: calc(100% / 7);
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        box-sizing: border-box;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        position : relative;
                        z-index : 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;

    
                        &.currentMonth {
                            color : $textStrong;
                            font-family: 'Pretendard-Regular';
                            font-size: 15px;
                            font-weight: 700;
                        }
    
                        &.otherMonth {
                            color: #838383;
                            font-family: 'Pretendard-Regular';
                            font-size: 15px;
                            font-weight: 700;
                        }
    
                        &.today{
                            background-color: $primary;
                            border-radius: 100px;
                            position : absolute;
                            top : 50%;
                            left : 50%;
                            z-index : 3;
                        }

                        img{
                            position : absolute;
                            z-index : -1;
                            width : 30px;
                            height : 30px;
                        }
                    }
                }
            }
    
            .selectArea{
                // border: 1px solid red;
                position: absolute;
                width: max-content;
                height : 320px;
                left : 440px;
                top : -25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
    
    
                .selectedDate{
                    width: max-content;
                    height: max-content;
                    font-family: 'Bobaesum Jindo TTF';
                    font-size: 31px;
                    color: $textStrong;
                }
    
                .instructionTime {
                    width : max-content;
                    margin-left: 235px;
                    padding-top : 17px;
                    font-family: 'Pretendard-Regular';
                    font-size: 20px;
                    color: $textStrong;
                }
        
                .morningArray{
                    // border: 1px solid red;
                    display: flex;
                    flex-wrap: wrap;
                    width : 410px;
                    height : max-content;
                    margin-top: -10px;
                    margin-left: -8px;
    
                    #strMoring{
                        display: block;
                        width : 100%;
                        margin-top: 25px;
                        margin-bottom: 5px;
                        margin-left: 9px;
                        font-family: 'Pretendard-Regular';
                        font-size: 17px;
                        font-weight: 600;
                    }
        
                    .morningArr{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width : 70px;
                        height : 25px;
                        background-color: $secondary;
                        border-radius: 5px;
                        font-family: 'Pretendard-Regular';
                        font-size: 14px;
                        text-align: center;
                        margin : 5px 5px;
                        cursor: pointer;
                    }
                }
    
                .afternoonArray{
                    // border: 1px solid red;
                    display: flex;
                    flex-wrap: wrap;
                    width : 410px;
                    height : max-content;
                    margin-top: -10px;
                    margin-left: -8px;
    
                    #strAfternoon{
                        display: block;
                        width : 100%;
                        margin-top: 20px;
                        margin-bottom: 5px;
                        margin-left: 9px;
                        font-family: 'Pretendard-Regular';
                        font-size: 17px;
                        font-weight: 600;
                    }
        
                    .afternoonArr{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width : 70px;
                        height : 25px;
                        background-color: $secondary;
                        border-radius: 5px;
                        font-family: 'Pretendard-Regular';
                        font-size: 14px;
                        text-align: center;
                        margin : 5px 5px;
                        cursor: pointer;
                    }
                }
            }
        }
        #hr{
            position : absolute;
            left : 28px;
            top : 1108px;
            width : 878px;
            background: #D9D9D9;
        }
    }
    
}

@media screen and (max-width:768px){
    .reservationStyle {
        cursor: default;
        border-radius: 0;
    
        // 예약
        .reservationTitle {
            position: absolute;
            left: 35px;
            top: 560px;
            width: max-content;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 20px;
            color: $textStrong;
        }
    
        // 날짜를 선택해주세요
        .instructionDate {
            position: absolute;
            left: 35px;
            top: 590px;
            width: max-content;
            font-family: 'Pretendard-Regular';
            font-size: 15px;
            color: $textStrong;
        }
    
        // 달력
        .calendarContainer {
            position: absolute;
            left: 80px;
            top: 625px;
            width: 333px;
    
            #goToday{
                position : absolute;
                left : 85px;
                top : -35.5px;
                width : max-content;
                font-family: 'Pretendard-Regular';
                font-size: 14px;
                font-weight: 700;
                color : $pending;
                cursor: pointer;
            }
    
            .calendarHeader {
                height: 32px;
                background-color: $primary;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                color: #ffffff;
                font-family: 'Pretendard-Regular';
                font-size: 13px;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 13px;
                    height: 16px;
                    cursor: pointer;
                }
    
                img:first-child {
                    margin-right: 20px;
                    transform: scaleX(-1);
                }
    
                img:last-child {
                    margin-left: 20px;
                }
            }

            .calendarBody{
                position: absolute;
                margin-top: 10px;
                padding-left: 18px;
                padding-bottom: 5px;
                border: 2px solid $primary;
                border-top: none;
                width : 333px;
                // height : 247px;
                height: max-content;
                border-radius: 0px;
                
                .dayList {
                    display: flex;
                    width : 295px;
                    margin-top: 5px;
                    margin-bottom: 7px;
    
                    .day{
                        flex: 1;
                        text-align: center;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 15px;
                        font-weight: 700;
                    }
                }
    
                .calendarGrid {
                    position : relative;
                    display: flex;
                    flex-wrap: wrap;
                    width : 295px;
                    z-index : 1;
                    cursor: pointer;
                    // border: 1px solid red;
    
                    .dateCell {
                        width: calc(100% / 7);
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        box-sizing: border-box;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        position : relative;
                        z-index : 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;

    
                        &.currentMonth {
                            color : $textStrong;
                            font-family: 'Pretendard-Regular';
                            font-size: 14px;
                            font-weight: 700;
                        }
    
                        &.otherMonth {
                            color: #838383;
                            font-family: 'Pretendard-Regular';
                            font-size: 14px;
                            font-weight: 700;
                        }
    
                        &.today{
                            background-color: $primary;
                            border-radius: 100px;
                            position : absolute;
                            top : 50%;
                            left : 50%;
                            z-index : 3;
                        }

                        img{
                            position : absolute;
                            z-index : -1;
                            width : 30px;
                            height : 30px;
                        }
                    }
                }
            }
    
            .selectArea{
                // border: 1px solid red;
                position: absolute;
                width: max-content;
                height : 320px;
                left : -35px;
                top : 260px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
    
    
                .selectedDate{
                    width: max-content;
                    height: max-content;
                    font-family: 'Bobaesum Jindo TTF';
                    font-size: 16px;
                    color: $textStrong;
                }
    
                .instructionTime {
                    width : max-content;
                    margin-left: 130px;
                    padding-top : 25px;
                    font-family: 'Pretendard-Regular';
                    font-size: 15px;
                    color: $textStrong;
                }
        
                .morningArray{
                    // border: 1px solid red;
                    display: flex;
                    flex-wrap: wrap;
                    width : 423px;
                    height : max-content;
                    margin-top: -10px;
                    margin-left: -8px;
    
                    #strMoring{
                        display: block;
                        width : 100%;
                        margin-top: 25px;
                        margin-bottom: 5px;
                        margin-left: 9px;
                        font-family: 'Pretendard-Regular';
                        font-size: 13px;
                        font-weight: 600;
                    }
        
                    .morningArr{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width : 70px;
                        height : 25px;
                        background-color: $secondary;
                        border-radius: 5px;
                        font-family: 'Pretendard-Regular';
                        font-size: 14px;
                        text-align: center;
                        margin : 5px 7px;
                        cursor: pointer;
                    }
                }
    
                .afternoonArray{
                    // border: 1px solid red;
                    display: flex;
                    flex-wrap: wrap;
                    width : 423px;
                    height : max-content;
                    margin-top: -10px;
                    margin-left: -8px;
    
                    #strAfternoon{
                        display: block;
                        width : 100%;
                        margin-top: 20px;
                        margin-bottom: 5px;
                        margin-left: 9px;
                        font-family: 'Pretendard-Regular';
                        font-size: 13px;
                        font-weight: 600;
                    }
        
                    .afternoonArr{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width : 70px;
                        height : 25px;
                        background-color: $secondary;
                        border-radius: 5px;
                        font-family: 'Pretendard-Regular';
                        font-size: 14px;
                        text-align: center;
                        margin : 5px 7px;
                        cursor: pointer;
                    }
                }
            }
        }
        #hr{
            position : absolute;
            left : 23px;
            top : 1218px;
            width : 458px;
            // background: #D9D9D9;
        }
    }
    
}
