@import "../../../../common/reset/reset.scss";

.reviewStyle{
    cursor: default;

    #strReview{
        position: absolute;
        left : 112px;
        top : 1984px;
        width: max-content;
        font-family: 'Bobaesum Jindo TTF';
        font-size: 50px;
        color: $textStrong;
    }

    #strCountReview{
        position: absolute;
        left : 112px;
        top : 2051px;
        width: max-content;
        font-family: 'Pretendard Variable';
        font-size: 30px;
        color: $textStrong;
    }

    .reviewArea{
        cursor: default;
        position: absolute;
        left: 163px;
        top : 2135px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .reviewContainer{
            position: relative;
            display: inline-block;
            width: 1550px;
            height: max-content;

            .review{
                position: relative;
                display: inline-block;
                margin-top: 30px;
                margin-left: -35px;

                #reviewImg{
                    display: block;
                    top : 10px;
                    width: 1532px;
                    height : 475.5px;
                    z-index: 1;
                }

                #userProfile{
                    position: absolute;
                    left : 97px;
                    top : 50px;
                    width : 114px;
                    height : 108px;
                    z-index: 5;
                    border-radius: 0;
                }
        
                div{
                    position: absolute;
                    width : max-content;
                    cursor: default;
                    z-index: 2;
                }
    
                div:nth-of-type(1){
                    left: 230px;
                    top : 63px;
                    width: max-content;
                    font-family: 'Bobaesum Jindo TTF';
                    font-size: 30px;
                    font-weight: 500;
                    font-style: normal;
                    color: $textStrong;
                    z-index: 5;
                }
    
                div:nth-of-type(2){
                   left : 230px;
                   top : 107px;
                   width: max-content;
                   font-family: 'Pretendard Variable';
                   font-size: 20px;
                   font-weight: 400;
                   font-style: normal;
                   color: $textStrong;
                   z-index: 5;
                }
    
                div:nth-of-type(3){
                    left : 107px;
                    top : 173px;
                    width: 802px;
                    height: 217px;
                    background-color: #FFF9D3;
                    padding-left: 15px;
                    padding-top: 10px;
                    font-family: 'Pretendard Variable';
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal; 
                    color: $textStrong;
                    line-height: 160%;
                    border-radius: 0;
                    z-index: 5;
                }
    
                #reviewPhoto{
                    position: absolute;
                    left : 1022px;
                    top : 37px;
                    width: 468px;
                    height: 367px;
                    border-radius: 0;
                    z-index: 5;
                }
            }

            .transformReview{
                position: relative;
                display: inline-block;
                margin-top: 30px;
                margin-left: 70px;

                #reviewImg{
                    display: block;
                    top : 10px;
                    width: 1532px;
                    height : 475.5px;
                    z-index: 1;
                }

                #userProfile{
                    position: absolute;
                    left : 613px;
                    top : 53px;
                    width : 114px;
                    height : 108px;
                    z-index: 5;
                    border-radius: 0;
                }
        
                div{
                    position: absolute;
                    width : max-content;
                    cursor: default;
                    z-index: 2;
                }
    
                div:nth-of-type(1){
                    left: 744px;
                    top : 70px;
                    width: max-content;
                    font-family: 'Bobaesum Jindo TTF';
                    font-size: 30px;
                    font-weight: 500;
                    font-style: normal;
                    color: $textStrong;
                    z-index: 5;
                }
    
                div:nth-of-type(2){
                   left : 744px;
                   top : 111px;
                   width: max-content;
                   font-family: 'Pretendard Variable';
                   font-size: 20px;
                   font-weight: 400;
                   font-style: normal;
                   color: $textStrong;
                   z-index: 5;
                }
    
                div:nth-of-type(3){
                    left : 624px;
                    top : 176px;
                    width: 802px;
                    height: 217px;
                    background-color: #FFF9D3;
                    padding-left: 15px;
                    padding-top: 10px;
                    font-family: 'Pretendard Variable';
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal; 
                    color: $textStrong;
                    line-height: 160%;
                    border-radius: 0;
                    z-index: 5;
                }
    
                #reviewPhoto{
                    position: absolute;
                    left : 43px;
                    top : 38px;
                    width: 468px;
                    height: 367px;
                    border-radius: 0;
                    z-index: 5;
                }
            }
        }

        #moreReview{
            margin-top: 50px;
            font-family: 'Pretendard Variable';
            font-size: 40px;
            font-weight: 700;
            color: $textStrong;
            cursor: pointer;
        }
    }
}

@media all and (min-width:768px) and (max-width:1024px){
    .reviewStyle{
        cursor: default;
    
        #strReview{
            position: absolute;
            left : 51px;
            top : 1150px;
            width: max-content;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 35px;
            color: $textStrong;
        }
    
        #strCountReview{
            position: absolute;
            left : 51px;
            top : 1200px;
            width: max-content;
            font-family: 'Pretendard Variable';
            font-size: 20px;
            color: $textStrong;
        }
    
        .reviewArea{
            cursor: default;
            position: absolute;
            left: 45px;
            top : 1225px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border: 1px solid red;
    
            .reviewContainer{
                position: relative;
                display: inline-block;
                width: 850px;
                height: max-content;
                // margin-left: -10px;
    
                .review{
                    position: relative;
                    display: inline-block;
                    margin-top: 30px;
                    margin-left: -20px;
    
                    #reviewImg{
                        display: block;
                        top : 5px;
                        width: 831px;
                        height : 258px;
                        z-index: 1;
                    }
    
                    #userProfile{
                        position: absolute;
                        left : 52px;
                        top : 27px;
                        width : 62px;
                        height : 59px;
                        z-index: 5;
                        border-radius: 0;
                    }
            
                    div{
                        position: absolute;
                        width : max-content;
                        cursor: default;
                        z-index: 2;
                    }
        
                    div:nth-of-type(1){
                        left: 124px;
                        top : 30px;
                        width: max-content;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 20px;
                        font-weight: 500;
                        font-style: normal;
                        color: $textStrong;
                        z-index: 5;
                    }
        
                    div:nth-of-type(2){
                       left : 124px;
                       top : 56px;
                       width: max-content;
                       font-family: 'Pretendard Variable';
                       font-size: 15px;
                       font-weight: 400;
                       font-style: normal;
                       color: $textStrong;
                       z-index: 5;
                    }
        
                    div:nth-of-type(3){
                        left : 58px;
                        top : 94px;
                        width: 436px;
                        height: 117px;
                        background-color: #FFF9D3;
                        padding-left: 7px;
                        padding-top: 5px;
                        font-family: 'Pretendard Variable';
                        font-size: 13px;
                        font-weight: 500;
                        font-style: normal; 
                        color: $textStrong;
                        line-height: 160%;
                        border-radius: 0;
                        z-index: 5;
                    }
        
                    #reviewPhoto{
                        position: absolute;
                        left : 550px;
                        top : 17px;
                        width: 263px;
                        height: 206px;
                        border-radius: 0;
                        z-index: 5;
                    }
                }

                .transformReview{
                    position: relative;
                    display: inline-block;
                    margin-top: 30px;
                    margin-left: 40px;

                    #reviewImg{
                        display: block;
                        top : 5px;
                        width: 831px;
                        height : 258px;
                        z-index: 1;
                    }
    
                    #userProfile{
                        position: absolute;
                        left : 333px;
                        top : 28px;
                        width : 62px;
                        height : 59px;
                        z-index: 5;
                        border-radius: 0;
                    }
            
                    div{
                        position: absolute;
                        width : max-content;
                        cursor: default;
                        z-index: 2;
                    }
        
                    div:nth-of-type(1){
                        left: 403px;
                        top : 34px;
                        width: max-content;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 20px;
                        font-weight: 500;
                        font-style: normal;
                        color: $textStrong;
                        z-index: 5;
                    }
        
                    div:nth-of-type(2){
                       left : 403px;
                       top : 61px;
                       width: max-content;
                       font-family: 'Pretendard Variable';
                       font-size: 15px;
                       font-weight: 400;
                       font-style: normal;
                       color: $textStrong;
                       z-index: 5;
                    }
        
                    div:nth-of-type(3){
                        left : 338px;
                        top : 95px;
                        width: 436px;
                        height: 117px;
                        background-color: #FFF9D3;
                        padding-left: 7px;
                        padding-top: 5px;
                        font-family: 'Pretendard Variable';
                        font-size: 13px;
                        font-weight: 500;
                        font-style: normal; 
                        color: $textStrong;
                        line-height: 160%;
                        border-radius: 0;
                        z-index: 5;
                    }
        
                    #reviewPhoto{
                        position: absolute;
                        left : 20px;
                        top : 17px;
                        width: 263px;
                        height: 206px;
                        border-radius: 0;
                        z-index: 5;
                    }
                }
            }
    
            #moreReview{
                margin-top: 30px;
                font-family: 'Pretendard Variable';
                font-size: 30px;
                font-weight: 700;
                color: $textStrong;
                cursor: pointer;
            }
        }
    }
}