
@import "../../../../common/reset/reset.scss";

.reviewStyle{
    cursor: default;

    #strReview{
        position: absolute;
        left : 112px;
        top : 1984px;
        width: max-content;
        font-family: 'Bobaesum Jindo TTF';
        font-size: 50px;
        color: $textStrong;
    }

    #strCountReview{
        position: absolute;
        left : 112px;
        top : 2051px;
        width: max-content;
        font-family: 'Pretendard-Regular';
        font-size: 30px;
        color: $textStrong;
    }

    #reviewSort {
        outline: none;
        position: absolute;
        left: 220px;
        top: 1984px;
        width: 170px;
        height: 50px;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: 4px solid $primary;
        font-family: 'Pretendard-Regular';
        font-size: 25px;
        font-weight: 600;
        color: $textStrong;
        cursor: pointer;
        padding: 0 7px;
    }

    option{
        width: 170px;
        height: 50px;
        background-color: #FFFFFF;
        font-family: 'Pretendard-Regular';
        font-size: 23px;
        color: $textStrong;
        cursor: pointer;
        padding: 0 7px;
    }
    

    .reviewArea{
        cursor: default;
        position: absolute;
        // left: 163px;
        left: 198px;
        top : 2135px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .reviewContainer{
            position: relative;
            display: inline-block;
            width: 1550px;
            height: max-content;

            .review, .transformReview {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 1485px;
                height : 450px;
                border: 4px solid $primary;


                .userInfoContainer {
                    display: flex;
                    align-items: center;
                    order: 1;

                    .userName {
                        display: inline-block;
                    }
                }

                > div {
                    margin-bottom: 8px;

                    &:nth-child(4) {
                        order: 2;
                    }

                    &:nth-child(6) {
                        order: 3;
                    }
                }
            }

            .review{
                position: relative;
                display: inline-block;
                margin-top: 30px;
                // margin-left: -35px;

                #userProfile{
                    position: relative;
                    margin-left : 50px;
                    top : 50px;
                    width : 114px;
                    height : 108px;
                    z-index: 5;
                    border-radius: 0;
                }
        
                div{
                    position: absolute;
                    width : max-content;
                    cursor: default;
                    z-index: 2;
                }
    
                div:nth-of-type(1){
                    left: 190px;
                    top : 63px;
                    width: max-content;
                    font-family: 'Bobaesum Jindo TTF';
                    font-size: 30px;
                    font-weight: 500;
                    font-style: normal;
                    color: $textStrong;
                    z-index: 5;

                    span{
                        margin-right: 8px;
                    }

                    .star {
                        font-size: 25px;
                        margin-right: -5px;
                        display: inline-block;
                    }
                }
    
                div:nth-of-type(2){
                   left : 190px;
                   top : 107px;
                   width: max-content;
                   font-family: 'Pretendard-Regular';
                   font-size: 20px;
                   font-weight: 400;
                   font-style: normal;
                   color: $textStrong;
                   z-index: 5;
                }

                div:nth-of-type(3){
                    left : 50px;
                    top : 180px;
                    width: 850px;
                    height: 223px;
                    background-color: #FFF9D3;
                    padding : 20px 15px;
                    font-family: 'Pretendard-Regular';
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal; 
                    color: $textStrong;
                    line-height: 160%;
                    border-radius: 0;
                    z-index: 5;
                    overflow-y :auto;
                    overflow-x : hidden;
                }

                #deleteReview {
                    position: absolute;
                    top: 50px;
                    left : 800px;
                    width: 120px;
                    height: 50px;
                    border-radius: 20px;
                    background-color: #FFBDC9;
                    color: $textStrong;
                    border: none;
                    font-size: 25px;
                    font-weight: 600;
                    font-family: 'Pretendard-Regular';
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    
                    &:hover {
                        background-color: #FF8AA3;
                        transform: scale(1.05);
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
                    }
                }
    
                #reviewPhoto{
                    position: absolute;
                    left : 960px;
                    top : 37px;
                    width: 468px;
                    height: 367px;
                    border-radius: 0;
                    z-index: 5;
                }
            }
        }

        #moreReview{
            margin-top: 50px;
            font-family: 'Pretendard-Regular';
            font-size: 40px;
            font-weight: 700;
            color: $textStrong;
            cursor: pointer;
        }
    }

    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    #finalCheck {
        width: 879px;
        height: 316px;
        border: 5px solid $primary;
        border-radius: 50px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 20;
    
        #reallyDeleteReview {
            width: max-content;
            margin-top: 5px;
            height: 44px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 40px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #notice {
            width: max-content;
            margin-top: 40px;
            height: 36px;
            font-family: 'Pretendard-Regular';
            font-size: 30px;
            font-weight: 500;
            color: $danger;
        }
    
        #cancleDeleteReview {
            margin-top: 40px;
            margin-left: -220px;
            width: 171px;
            height: 44px;
            background-color: $secondary;
            border: none;
            border-radius: 25px;
            font-family: 'Pretendard-Regular';
            font-size: 25px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    
        #confirmDeleteReview {
            margin-top: -44px;
            margin-left: 220px;
            width: 171px;
            height: 44px;
            background-color: $primary;
            border: none;
            border-radius: 25px;
            font-family: 'Pretendard-Regular';
            font-size: 25px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }
    
    #completeDeleteReview {
        width: 879px;
        height: 316px;
        border: 5px solid $primary;
        border-radius: 50px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 20;
    
        #completedDeletteMessage {
            width: max-content;
            margin-top: 5px;
            height: 44px;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 40px;
            font-weight: 500;
            color: $textStrong;
        }
    
        #completeBtn {
            margin-top: 40px;
            width: 171px;
            height: 44px;
            background-color: $secondary;
            border: none;
            border-radius: 25px;
            font-family: 'Pretendard-Regular';
            font-size: 25px;
            font-weight: 500;
            color: $textStrong;
            cursor: pointer;
        }
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .reviewStyle{
        cursor: default;
    
        #strReview{
            position: absolute;
            left : 51px;
            top : 1150px;
            width: max-content;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 35px;
            color: $textStrong;
        }
    
        #strCountReview{
            position: absolute;
            left : 51px;
            top : 1200px;
            width: max-content;
            font-family: 'Pretendard-Regular';
            font-size: 20px;
            color: $textStrong;
        }
    
        #reviewSort {
            left: 120px;
            top: 1153px;
            width: 120px;
            height: 28px;
            font-size : 18px;
            border-radius: 30px;
            background-color: #FFFFFF;
            border-radius: 5px;
            border: 3px solid $primary;
            color: $textStrong;
            cursor: pointer;
            padding: 0 20px;
        }

        option{
            width: 120px;
            height: 28px;
            background-color: #FFFFFF;
            font-family: 'Pretendard-Regular';
            font-size: 18px;
            color: $textStrong;
            cursor: pointer;
            padding: 0 20px;
        }
    
        .reviewArea{
            cursor: default;
            position: absolute;
            left: 45px;
            top : 1225px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border: 1px solid red;
    
            .reviewContainer{
                position: relative;
                display: inline-block;
                width: 850px;
                height: max-content;
                // margin-left: -10px;
    
                .review{
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .userInfoContainer {
                        display: flex;
                        align-items: center;
                        order: 1;

                        .userName {
                            display: inline-block;
                        }

                        .starRating {
                            display: inline-flex;
                            margin-left: 20px;
                            
                            img {
                                height: 20px;
                            }
                        }
                    }

                    > div {
                        margin-bottom: 8px;

                        &:nth-child(4) {
                            order: 2;
                        }

                        &:nth-child(6) {
                            order: 3;
                        }
                    }
                }

                .review{
                    position: relative;
                    display: inline-block;
                    margin-top: 30px;
                    margin-left: -20px;
    
                    #reviewImg{
                        display: block;
                        top : 5px;
                        width: 831px;
                        height : 258px;
                        z-index: 1;
                    }
    
                    #userProfile{
                        position: absolute;
                        left : 52px;
                        top : 27px;
                        width : 62px;
                        height : 59px;
                        z-index: 5;
                        border-radius: 0;
                    }
            
                    div{
                        position: absolute;
                        width : max-content;
                        cursor: default;
                        z-index: 2;
                    }
        
                    div:nth-of-type(1){
                        left: 124px;
                        top : 30px;
                        width: max-content;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 20px;
                        font-weight: 500;
                        font-style: normal;
                        color: $textStrong;
                        z-index: 5;

                        span{
                            margin-right: 10px;
                        }

                        .star {
                            font-size: 25px;
                            margin-right: -2px;
                            display: inline-block;
                        }
                    }
        
                    div:nth-of-type(2){
                       left : 124px;
                       top : 56px;
                       width: max-content;
                       font-family: 'Pretendard-Regular';
                       font-size: 15px;
                       font-weight: 400;
                       font-style: normal;
                       color: $textStrong;
                       z-index: 5;
                    }
        
                    div:nth-of-type(3){
                        left : 58px;
                        top : 94px;
                        width: 436px;
                        height: 117px;
                        background-color: #FFF9D3;
                        padding : 20px 15px;
                        font-family: 'Pretendard-Regular';
                        font-size: 13px;
                        font-weight: 500;
                        font-style: normal; 
                        color: $textStrong;
                        line-height: 160%;
                        border-radius: 0;
                        z-index: 5;
                        overflow-y :auto;
                        overflow-x : hidden;
                    }
        
                    #reviewPhoto{
                        position: absolute;
                        left : 550px;
                        top : 17px;
                        width: 263px;
                        height: 206px;
                        border-radius: 0;
                        z-index: 5;
                    }
                }
            }
    
            #moreReview{
                margin-top: 30px;
                font-family: 'Pretendard-Regular';
                font-size: 30px;
                font-weight: 700;
                color: $textStrong;
                cursor: pointer;
            }
        }
        #finalCheck {
            width: 600px;
            height: 250px;
            border: 4px solid $primary;
            border-radius: 40px;
    
            #reallyDeleteReview {
                font-size: 32px;
                height: 36px;
            }
    
            #notice {
                font-size: 24px;
                margin-top: 30px;
                height: 30px;
            }
    
            #cancleDeleteReview, #confirmDeleteReview {
                width: 140px;
                height: 38px;
                font-size: 20px;
                margin-top: 30px;
            }
    
            #cancleDeleteReview {
                margin-left: -160px;
            }
    
            #confirmDeleteReview {
                margin-left: 160px;
                margin-top: -38px;
            }
        }
    
        #completeDeleteReview {
            width: 600px;
            height: 250px;
            border: 4px solid $primary;
            border-radius: 40px;
    
            #completedDeletteMessage {
                font-size: 32px;
                height: 36px;
            }
    
            #completeBtn {
                width: 140px;
                height: 38px;
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width:768px){
    .reviewStyle{
        cursor: default;
    
        #strReview{
            position: absolute;
            left : 35px;
            top : 1270px;
            width: max-content;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 20px;
            color: $textStrong;
        }
    
        #strCountReview{
            position: absolute;
            left : 35px;
            top : 1300px;
            width: max-content;
            font-family: 'Pretendard-Regular';
            font-size: 15px;
            color: $textStrong;
        }
    
        #reviewSort {
            left: 80px;
            top: 1269px;
            width: 100px;
            height: 20px;
            font-size: 13px;
            background-color: #FFFFFF;
            border-radius: 5px;
            border: 2px solid $primary;
            color: $textStrong;
            cursor: pointer;
            padding: 0 20px;
        }
    
        option{
            width: 80px;
            height: 20px;
            background-color: #FFFFFF;
            font-family: 'Pretendard-Regular';
            font-size: 13px;
            color: $textStrong;
            cursor: pointer;
            padding: 0 20px;
        }
    
        .reviewArea{
            cursor: default;
            position: absolute;
            left: 45px;
            top : 1320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border: 1px solid red;
    
            .reviewContainer{
                position: relative;
                display: inline-block;
                width: 440px;
                height: max-content;
                margin-left: -10px;
                // border: 1px solid red;
    
                .review{
                    position: relative;
                    display: inline-block;
                    margin-top: 30px;
                    margin-left: -20px;
                    // border: 1px solid red;
    
                    #reviewImg{
                        display: block;
                        width: 450px;
                        height : 158px;
                        z-index: 1;
                    }
    
                    #userProfile{
                        position: absolute;
                        left : 23px;
                        top : 15px;
                        width : 33px;
                        height : 34px;
                        z-index: 5;
                        border-radius: 0;
                    }
            
                    div{
                        position: absolute;
                        width : max-content;
                        cursor: default;
                        z-index: 2;
                    }
        
                    div:nth-of-type(1){
                        left: 65px;
                        top : 17px;
                        width: max-content;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 12px;
                        font-weight: 500;
                        font-style: normal;
                        color: $textStrong;
                        z-index: 5;

                        span{
                            margin-right: 8px;
                        }

                        .star {
                            font-size: 25px;
                            margin-right: -2px;
                            display: inline-block;
                        }
                    }
        
                    div:nth-of-type(2){
                       left : 65px;
                       top : 32px;
                       width: max-content;
                       font-family: 'Pretendard-Regular';
                       font-size: 11px;
                       font-weight: 400;
                       font-style: normal;
                       color: $textStrong;
                       z-index: 5;
                    }

                    div:nth-of-type(3){
                        left : 65px;
                        top : 40px;
                        overflow-y :auto;
                        overflow-x : hidden;
                        
                    }
        
                    div:nth-of-type(4){
                        left : 18px;
                        top : 55px;
                        width: 255px;
                        height: 75px;
                        background-color: #FFF9D3;
                        padding-left: 7px;
                        padding-top: 5px;
                        font-family: 'Pretendard-Regular';
                        font-size: 10px;
                        font-weight: 500;
                        font-style: normal; 
                        color: $textStrong;
                        line-height: 150%;
                        border-radius: 0;
                        z-index: 5;
                    }
        
                    #reviewPhoto{
                        position: absolute;
                        left : 295px;
                        top : 9px;
                        width: 147px;
                        height: 128px;
                        border-radius: 0;
                        z-index: 5;
                    }
                }
            }
    
            #moreReview{
                margin-top: 30px;
                font-family: 'Pretendard-Regular';
                font-size: 15px;
                font-weight: 700;
                color: $textStrong;
                cursor: pointer;
            }
        }
        #finalCheck {
            width: 300px;
            height: 180px;
            border: 3px solid $primary;
            border-radius: 25px;
    
            #reallyDeleteReview {
                font-size: 20px;
                height: 24px;
                margin-top: 3px;
            }
    
            #notice {
                font-size: 15px;
                margin-top: 20px;
                height: 20px;
            }
    
            #cancleDeleteReview, #confirmDeleteReview {
                width: 80px;
                height: 30px;
                font-size: 15px;
                margin-top: 20px;
                border-radius: 15px;
            }
    
            #cancleDeleteReview {
                margin-left: -90px;
            }
    
            #confirmDeleteReview {
                margin-left: 90px;
                margin-top: -30px;
            }
        }
    
        #completeDeleteReview {
            width: 300px;
            height: 180px;
            border: 3px solid $primary;
            border-radius: 25px;
    
            #completedDeletteMessage {
                font-size: 20px;
                height: 24px;
                margin-top: 3px;
            }
    
            #completeBtn {
                width: 80px;
                height: 30px;
                font-size: 15px;
                margin-top: 20px;
                border-radius: 15px;
            }
        }
    }
}
