/* 부모 요소 */
.qrBackground {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로축 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    width: 100%;
    height: 100vh; /* 뷰포트 높이 */
    background-color: #FFFBDE;
    margin: -0.1vh;
}

.qrResultMessage {
    font-family: "Bobaesum Jindo TTF";
    font-size: 4.5vw;
    color: #232323;
    width: max-content;
    height: max-content;
}

.qrResultImg {
    width: 50vh;
    height: 30vw;
    object-fit: contain;
}  

.fromQrToMain {

    width: 10vw;
    min-width: 70px;
    height: 5vw;
    min-height: 20px;
    margin-top: 2vh;
  
    background: #FF8AA3;
    border-radius: 40px;
  
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    align-items: center;
  
    /* text/strong */
    color: #232323;
  
    border: none;
    cursor: pointer;
  }
  
  .fromQrToMain:hover {
    background-color: #FF5E7A;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .fromQrToMain:active {
    transform: scale(1);
    box-shadow: none;
  }