@import '../../../../common/header/css/reset.scss';

div {
    outline: none;
    background: none;
    border-radius: 20px;
    border: none;
    font-family: 'Pretendard Variable';
    font-weight: 400;


#map {
    position: absolute;
    width: 72vw;
    height: 40vw;
    border-radius: 20px;
    border: 2px solid $background;
    box-shadow: 0px 1.5px 9.3px rgba(0, 0, 0, 0.15);
    left: 13vw;
    top: 13vw;
    font-family: 'Pretendard Variable';
}
}
@media (max-width: 1440px) and (min-width: 769px) {
    #map {
        position: absolute;
        width: 20vw;
        height: 27vw;
        border-radius: 20px;
        border: 3px solid $primary;
        left: 25vw;
        top: 5vw;

    }
}



@media (max-width: 768px) {
    #map {
        position: absolute;
        width: 50vw;
        height: 50vw;

        border-radius: 20px;
        border: 3px solid $primary;
        left: 26vw;
        top: 60vw;
    }

}


