.mypageReservation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.allTabs {
    position: absolute;
    top:50px;
    left:50px;
    display: inline-block;
}

.tab2, .tab3, .tab4 {
    display: inline-block;
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    cursor: pointer;
    color : #BDBEBF;
}

.tab2:hover, .tab3:hover, .tab4:hover {
    color : #232323;
}

.line1, .line2 {
    display: inline-block;
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    margin-left: 7px;
    color : #BDBEBF;
}

.tab1 {
    display: inline-block;
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;

    /* text/strong */
    color: #232323;
    cursor: pointer;
}

/* 예약 리스트 CSS */
.mypageReservationMain .headerRow {
    display: grid;
    grid-template-columns:  2fr 12fr 12fr 15fr 15fr;
    padding: 0px 0;

    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    color: #232323;
}

/* 가운데 정렬 */
.mypageReservationMain {
    transform: translateY(-50px);
    margin-top: 160px;

    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    height: 565px;
}

.headerRow {
    margin-top: 10px;
}

/* 가운데 정렬 2 */
.headerItem {
    width:300px;
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

/* 예약 항목 */
.reservationItem {
    display: grid;
    grid-template-columns:  2fr 12fr 12fr 15fr 15fr;
    padding: 10px 0;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    justify-items: center;
    position: relative;
    height: 95px;
}


/* 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: fixed;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
}

/* 페이지네이션 내부 숫자 */
.paginationButton {
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    cursor: pointer;
    color: #232323;
    opacity: 50%;
}
.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {

    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;

    color: #232323;
}

.paginationButton {
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    cursor: pointer;
    color: #232323;
    opacity: 50%;
}

.paginationButton.disabled {
    visibility: hidden;
}
.paginationButton.arrow {
    color:#FF8AA3;
    opacity: 1;
}

/* 선 */
.headerRow, .reservationItem {
    position: relative;
    padding-bottom: 55px;
}

/* 선 2 (가운데 정렬) */
.headerRow::before, .reservationItem::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    height: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
}

.mypageReservationMain .headerRow {
    display: grid;
    padding: 0px 0;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #232323;
    position: relative;
}

.headerRow::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 95%;
    height: 5px;
    transform: translateX(-50%);
}

.reservationItem::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 95%;
    height: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
}

.loadingContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.loadingContainer img {
    max-width: 100%;
    height: auto;
}

.paginationButton.active {
    color:#232323;
    opacity: 1;
}