@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #232323;
}

a:active {
  text-decoration: none;
  color: #232323;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BobaesumJindoTTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BobaesumJindoTTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mungyeong-Gamhong-Apple";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
div {
  user-select: none;
}
div .slidewrap {
  width: 90vw;
  height: 75vw;
  position: relative;
  overflow: hidden;
  top: 5vw;
  left: 4.5vw;
  list-style: none;
  border-radius: 0;
  cursor: pointer;
}
div .slidewrap .slides {
  display: flex;
}
div .slidewrap .slides .slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 40vw;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}
div .slidewrap .slides .slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div .slidewrap .slides .slide .section1,
div .slidewrap .slides .slide .section2,
div .slidewrap .slides .slide .section3,
div .slidewrap .slides .slide .section4,
div .slidewrap .slides .slide .section5 {
  flex-shrink: 0;
  /* 슬라이드가 줄어들지 않도록 */
  width: 100vw;
  /* 각 슬라이드의 너비를 화면 너비에 맞추기 */
  height: 75vw;
  /* 높이도 비슷하게 맞추기 */
}
div .slidewrap .slides .slide div h3 {
  position: absolute;
  left: 9vw;
  top: 24.5vw;
  font-family: "Bobaesum Jindo TTF";
  font-size: 2vw;
  color: #FF8AA3;
  z-index: 1;
}
div .slidewrap .slides .slide div img {
  position: absolute;
  width: 19vw;
  left: 6vw;
  top: 18.5vw;
}
div .slidewrap .slides .slide div p {
  position: absolute;
  left: 7vw;
  top: 29vw;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.4vw;
  color: #232323;
}
div .slidewrap .slides .slide div span {
  position: absolute;
  width: 24vw;
  left: 7vw;
  top: 32vw;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 126%;
  color: #232323;
}
div .pagination ul {
  position: relative;
  gap: 5vw;
  left: 33vw;
  top: -7vw;
}
div .pagination ul li {
  display: inline-block !important;
  margin-left: 3vw !important;
  width: 1vw !important;
  height: 1vw !important;
  background-color: #FEBA00 !important;
  border-radius: 50px !important;
  opacity: 0.5 !important;
  cursor: pointer !important;
}
div .pagination ul li.act {
  opacity: 1 !important;
}
div .search {
  position: absolute;
  width: 100vw;
  height: 5vw;
  margin: 0;
}
div .search input {
  position: absolute;
  width: 60vw;
  height: 5vw;
  left: 18vw;
  top: -16vw;
  border-radius: 50px;
  border: #FF8AA3 3px solid;
  background-color: #FFF3A7;
  color: #FEBA00;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 1.3vw;
  margin: 0;
}
div .search img {
  position: absolute;
  width: 3.5vw;
  left: 72vw;
  top: -15.3vw;
}
div .btn {
  position: relative;
  font-size: 5vw;
  top: -22vw;
  left: 2vw;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
div .rightbtn {
  left: 85vw;
  top: -27vw;
}
div .category h3 {
  position: absolute;
  left: 39vw;
  top: 68vw;
  font-family: "Bobaesum Jindo TTF";
  font-size: 2.5vw;
  color: #232323;
}
div .category p {
  position: absolute;
  left: 40vw;
  top: 71.5vw;
  font-family: "Pretendard Variable";
  font-size: 1.2vw;
  text-align: center;
  color: #232323;
}
div .category div {
  position: absolute;
  width: 5vw;
  height: 2vw;
  left: 15vw;
  top: 80vw;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 3;
}
div .category div:nth-of-type(2) {
  left: 30.5vw;
  top: 82vw;
}
div .category div:nth-of-type(3) {
  left: 46vw;
}
div .category div:nth-of-type(4) {
  left: 61.5vw;
  top: 82vw;
}
div .category div:nth-of-type(5) {
  left: 77vw;
}
div .category div p {
  color: #232323;
  position: absolute;
  left: 1.5vw;
  top: 0.5vw;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1.2vw;
  z-index: 5;
}
div .category img {
  width: 10vw;
  border-radius: 10%;
  position: absolute;
  left: 12.5vw;
  z-index: 2;
  opacity: 0.8;
  top: 76vw;
  transition: all 0.5s;
}
div .category img.selected-img {
  opacity: 1;
  border: 5px solid #FF8AA3;
}
div .category img:nth-of-type(2) {
  left: 28vw;
  top: 78vw;
}
div .category img:nth-of-type(3) {
  left: 43.5vw;
}
div .category img:nth-of-type(4) {
  left: 59vw;
  top: 78vw;
}
div .category img:nth-of-type(5) {
  left: 74.5vw;
}
div .category span {
  position: absolute;
  left: 14.5vw;
  top: 87.5vw;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1vw;
  color: #232323;
  background-color: #FFF3A7;
  padding: 0.5vw 1vw;
  border-radius: 50px;
  transition: all 0.4s;
}
div .category span.selected-span {
  background-color: #FF8AA3;
  font-weight: 700;
  left: 14vw;
}
div .category span:nth-of-type(2) {
  left: 30vw;
  top: 89.5vw;
}
div .category span:nth-of-type(2).selected-span {
  background-color: #FF8AA3;
  font-weight: 700;
  left: 29.5vw;
}
div .category span:nth-of-type(3) {
  left: 45.5vw;
}
div .category span:nth-of-type(3).selected-span {
  background-color: #FF8AA3;
  font-weight: 700;
  left: 45vw;
}
div .category span:nth-of-type(4) {
  left: 61vw;
  top: 89.5vw;
}
div .category span:nth-of-type(4).selected-span {
  background-color: #FF8AA3;
  font-weight: 700;
  left: 60.5vw;
}
div .category span:nth-of-type(5) {
  left: 77vw;
}
div .category span:nth-of-type(5).selected-span {
  background-color: #FF8AA3;
  font-weight: 700;
  left: 76.2vw;
}
div .location {
  position: absolute;
  width: 100vw;
  height: 30vw;
  top: 100vw;
  background: #FFF3A7;
  left: 0;
  border-radius: 0;
  border: none;
}
div .location p {
  position: absolute;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 0.8vw;
  color: #232323;
}
div .location h3 {
  position: absolute;
  left: 55vw;
  top: 5vw;
  font-family: "Bobaesum Jindo TTF";
  font-size: 2vw;
  color: #232323;
}
div .location > img:nth-of-type(1) {
  position: absolute;
  left: 55vw;
  width: 9vw;
  top: 8vw;
  border: 3px solid #FF8AA3;
  border-radius: 20px;
}
div .location p:nth-of-type(1) {
  left: 65vw;
  top: 8.5vw;
}
div .location p:nth-of-type(2) {
  left: 65vw;
  top: 10vw;
}
div .location p:nth-of-type(3) {
  left: 65vw;
  top: 13vw;
}
div .location span {
  position: absolute;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  color: #232323;
}
div .location span:nth-of-type(1) {
  left: 69vw;
  top: 8.5vw;
}
div .location span:nth-of-type(2) {
  left: 65vw;
  top: 11.5vw;
}
div .location span:nth-of-type(3) {
  left: 70.5vw;
  top: 13vw;
}
div .location input {
  position: absolute;
  width: 20.5vw;
  height: 2.3vw;
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #999999;
  font-size: 0.8vw;
  font-weight: normal;
}
div .location input:nth-of-type(1) {
  left: 55vw;
  top: 15.5vw;
  text-align: center;
}
div .location input:nth-of-type(2) {
  left: 55vw;
  top: 18.5vw;
  text-align: center;
}
div .location label:nth-of-type(1) {
  position: absolute;
  left: 56vw;
  top: 16.2vw;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 1vw;
  color: #232323;
  width: 10vw;
  background-color: transparent;
}
div .location label:nth-of-type(2) {
  position: absolute;
  left: 56vw;
  top: 19.2vw;
  font-family: "Pretendard Variable";
  font-weight: 600;
  font-size: 1vw;
  color: #232323;
  width: 10vw;
  background-color: transparent;
}
div .location button {
  position: absolute;
  width: 9.5vw;
  height: 1.8vw;
  left: 55vw;
  top: 22vw;
  background: #FF8AA3;
  border-radius: 50px;
  border: none;
  color: #232323;
  font-weight: 700;
  font-family: "Pretendard Variable";
  font-size: 0.8vw;
}
div .location button:nth-of-type(2) {
  left: 66vw;
  background-color: #FFA8B8;
}
div .location img:nth-of-type(2) {
  position: absolute;
  width: 7vw;
  left: 46vw;
  top: 12vw;
  z-index: 10;
}
div .talk img:nth-of-type(1) {
  position: absolute;
  width: 80vw;
  top: 148vw;
  left: 10vw;
}
div .talk img:nth-of-type(2) {
  position: absolute;
  width: 75vw;
  top: 140vw;
  left: 10vw;
}
div .talk img:nth-of-type(3) {
  position: absolute;
  width: 50vw;
  top: 142vw;
  left: 25vw;
}
div .talk img {
  opacity: 0;
  transform: translateY(20vw);
  transition: opacity 1s, transform 1s;
}
div .talk img.show {
  opacity: 1;
  transform: translateY(0);
}
div .random h3 {
  position: absolute;
  left: 15vw;
  top: 175vw;
  font-family: "Bobaesum Jindo TTF";
  font-weight: 400;
  font-size: 3vw;
  line-height: 128.63%;
  color: #232323;
}
div .random h3 span {
  color: #FF8AA3;
}
div .random p:nth-of-type(1) {
  position: absolute;
  left: 15vw;
  top: 184vw;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  color: #232323;
}
div .random p:nth-of-type(2) {
  position: absolute;
  left: 15vw;
  top: 187vw;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 150%;
  color: #FF5D18;
}
div .random > span {
  position: absolute;
  left: 15vw;
  top: 193vw;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 150%;
  color: #232323;
}
div .random button {
  position: absolute;
  width: 9vw;
  height: 2vw;
  left: 19vw;
  top: 201vw;
  background: #FEDA00;
  border-radius: 30px;
  color: #232323;
  border: none;
  font-family: "Pretendard Variable";
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
}
div .random img:nth-of-type(1) {
  position: absolute;
  width: 4vw;
  left: 14.5vw;
  top: 200vw;
  opacity: 0.6;
}
div .random img:nth-of-type(2) {
  position: absolute;
  width: 4vw;
  left: 28.5vw;
  top: 200vw;
  opacity: 0.6;
}
div .roulette {
  position: relative;
  width: 30vw;
  height: 30vw;
}
div .roulette .rouletter-bg {
  position: absolute;
  top: 113vw;
  left: 65vw;
  transform: translate(-50%, -50%);
  width: 28vw;
  height: 28vw;
  border-radius: 350px;
  overflow: hidden;
  border: 8px solid #FF8AA3;
}
div .roulette .rouletter-bg .rouletter-wacu img {
  width: 100%;
  height: 100%;
  background: #FF8AA3;
  background-size: 100%;
  transform-origin: center;
  transition-timing-function: ease-in-out;
  transition: 2s;
}
div .roulette .rouletter-arrow {
  position: absolute;
  top: 98vw;
  left: 64vw;
  z-index: 9;
}
div .roulette .rouletter-arrow img {
  width: 2vw;
}
div .roulette .rouletter-btn {
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: 111vw;
  left: 63vw;
  border-radius: 50%;
  border: none;
  background-color: #FF8AA3;
  color: #fff;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 1vw;
}
div .hidden-input {
  display: none;
}
@media (max-width: 1440px) and (min-width: 769px) {
  div input {
    position: absolute;
  }
  div .slidewrap {
    width: 90vw;
    height: 65vw;
    position: relative;
    overflow: hidden;
    top: 5vw;
    left: 4vw;
    list-style: none;
    border-radius: 0;
  }
  div .slidewrap .slides {
    display: flex;
  }
  div .slidewrap .slides .slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 60vw;
    overflow: hidden;
    position: relative;
    border-radius: 0;
  }
  div .slidewrap .slides .slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div .slidewrap .slides .slide .section1,
  div .slidewrap .slides .slide .section2,
  div .slidewrap .slides .slide .section3,
  div .slidewrap .slides .slide .section4,
  div .slidewrap .slides .slide .section5 {
    flex-shrink: 0;
    /* 슬라이드가 줄어들지 않도록 */
    width: 100vw;
    /* 각 슬라이드의 너비를 화면 너비에 맞추기 */
    height: 40vw;
    /* 높이도 비슷하게 맞추기 */
  }
  div .slidewrap .slides .slide div h3 {
    position: absolute;
    left: 9vw;
    top: 40vw;
    font-family: "Bobaesum Jindo TTF";
    font-size: 2.5vw;
    color: #FF8AA3;
    z-index: 1;
  }
  div .slidewrap .slides .slide div img {
    position: absolute;
    width: 22vw;
    left: 6vw;
    top: 33vw;
  }
  div .slidewrap .slides .slide div p {
    position: absolute;
    left: 8vw;
    top: 45vw;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 1.6vw;
    color: #232323;
  }
  div .slidewrap .slides .slide div span {
    position: absolute;
    width: 50vw;
    left: 8vw;
    top: 47vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 126%;
    color: #232323;
  }
  div .pagination {
    position: relative;
    top: 1vw;
    z-index: 9;
  }
  div .pagination ul {
    position: relative;
    gap: 5vw;
    left: 33vw;
  }
  div .pagination ul li {
    display: inline-block !important;
    margin-left: 3vw !important;
    width: 1vw !important;
    height: 1vw !important;
    background-color: #FEBA00 !important;
    border-radius: 50px !important;
    opacity: 0.5 !important;
    cursor: pointer !important;
  }
  div .pagination ul li.act {
    opacity: 1 !important;
  }
  div .search {
    position: absolute;
    width: 100vw;
    height: 5vw;
    margin: 0;
  }
  div .search input {
    position: absolute;
    width: 60vw;
    height: 5vw;
    left: 20vw;
    top: 8vw;
    border-radius: 50px;
    border: #FF8AA3 3px solid;
    background-color: #FFF3A7;
    color: #FEBA00;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 1.7vw;
    margin: 0;
    padding: 0;
  }
  div .search img {
    position: absolute;
    width: 3.5vw;
    left: 74vw;
    top: 8.8vw;
  }
  div .btn {
    position: relative;
    font-size: 5vw;
    top: -28vw;
    left: 2vw;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  div .rightbtn {
    left: 85vw;
    top: -33vw;
  }
  div .category {
    position: relative;
    top: -65vw;
    left: -2vw;
  }
  div .category h3 {
    position: absolute;
    left: 39vw;
    top: 86vw;
    font-family: "Bobaesum Jindo TTF";
    font-size: 3vw;
    color: #232323;
  }
  div .category p {
    position: absolute;
    left: 39.5vw;
    top: 89.5vw;
    font-family: "Pretendard Variable";
    font-size: 1.5vw;
    text-align: center;
    color: #232323;
  }
  div .category div {
    position: absolute;
    width: 5vw;
    height: 2vw;
    left: 31.5vw;
    top: 99vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 3;
  }
  div .category div:nth-of-type(2) {
    left: 50vw;
    top: 101vw;
  }
  div .category div:nth-of-type(3) {
    left: 68.5vw;
  }
  div .category div:nth-of-type(4) {
    left: 40.5vw;
    top: 120vw;
  }
  div .category div:nth-of-type(5) {
    left: 59.5vw;
    top: 120vw;
  }
  div .category div p {
    color: #232323;
    position: absolute;
    left: 1.2 vw;
    top: 0.4vw;
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 1.5vw;
    z-index: 5;
  }
  div .category img {
    width: 12vw;
    border-radius: 10%;
    position: absolute;
    left: 28vw;
    z-index: 2;
    opacity: 0.8;
    top: 94vw;
    transition: opacity 0.5s;
  }
  div .category img.selected-img {
    opacity: 1;
    border: 5px solid #FF8AA3;
  }
  div .category img:nth-of-type(2) {
    left: 46.5vw;
    top: 96vw;
  }
  div .category img:nth-of-type(3) {
    left: 65vw;
    top: 94vw;
  }
  div .category img:nth-of-type(4) {
    left: 37vw;
    top: 115vw;
  }
  div .category img:nth-of-type(5) {
    left: 56vw;
    top: 115vw;
  }
  div .category span {
    position: absolute;
    left: 31vw;
    top: 107.5vw;
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 1vw;
    color: #232323;
    background-color: #FFF3A7;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    transition: all 0.4s;
  }
  div .category span.selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 30.5vw;
  }
  div .category span:nth-of-type(2) {
    left: 50vw;
    top: 109.5vw;
  }
  div .category span:nth-of-type(2).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 49.5vw;
  }
  div .category span:nth-of-type(3) {
    left: 68vw;
  }
  div .category span:nth-of-type(3).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 67.5vw;
  }
  div .category span:nth-of-type(4) {
    left: 40vw;
    top: 128.5vw;
  }
  div .category span:nth-of-type(4).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 39.5vw;
  }
  div .category span:nth-of-type(5) {
    left: 59vw;
    top: 128.5vw;
  }
  div .category span:nth-of-type(5).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 58.5vw;
  }
  div .location {
    position: absolute;
    width: 100vw;
    height: 40vw;
    top: 140vw;
    background: #FFF3A7;
    left: 0;
    border-radius: 0;
    border: none;
  }
  div .location h3 {
    position: absolute;
    left: 50vw;
    top: 5vw;
    font-family: "Bobaesum Jindo TTF";
    font-size: 2vw;
    color: #232323;
  }
  div .location > img:nth-of-type(1) {
    position: absolute;
    left: 50vw;
    width: 10vw;
    top: 8vw;
    border: 2px solid #FF8AA3;
    border-radius: 15px;
  }
  div .location p {
    position: absolute;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 1vw;
    color: #232323;
  }
  div .location p:nth-of-type(1) {
    left: 61vw;
    top: 8.5vw;
  }
  div .location p:nth-of-type(2) {
    left: 61vw;
    top: 10vw;
  }
  div .location p:nth-of-type(3) {
    left: 61vw;
    top: 13vw;
  }
  div .location span {
    position: absolute;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: #232323;
  }
  div .location span:nth-of-type(1) {
    left: 66vw;
    top: 8.5vw;
  }
  div .location span:nth-of-type(2) {
    left: 61vw;
    top: 11.5vw;
  }
  div .location span:nth-of-type(3) {
    left: 68vw;
    top: 13vw;
  }
  div .location input {
    position: absolute;
    width: 23.5vw;
    height: 3vw;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #999999;
    font-size: 1vw;
    font-weight: normal;
  }
  div .location input:nth-of-type(1) {
    left: 50vw;
    top: 17vw;
    text-align: center;
  }
  div .location input:nth-of-type(2) {
    left: 50vw;
    top: 21vw;
    text-align: center;
  }
  div .location label:nth-of-type(1) {
    position: absolute;
    left: 51vw;
    top: 18vw;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 1vw;
    color: #232323;
    width: 10vw;
    background-color: transparent;
  }
  div .location label:nth-of-type(2) {
    position: absolute;
    left: 51vw;
    top: 22vw;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 1vw;
    color: #232323;
    width: 10vw;
    background-color: transparent;
  }
  div .location button {
    position: absolute;
    width: 10vw;
    height: 2.5vw;
    left: 50vw;
    top: 27vw;
    background: #FF8AA3;
    border-radius: 50px;
    border: none;
    color: #232323;
    font-weight: 700;
    font-family: "Pretendard Variable";
    font-size: 1.2vw;
  }
  div .location button:nth-of-type(2) {
    left: 63vw;
    background-color: #FFA8B8;
  }
  div .location img:nth-of-type(2) {
    position: absolute;
    width: 7vw;
    left: 42vw;
    top: 23vw;
    z-index: 10;
  }
  div .talk img:nth-of-type(1) {
    position: absolute;
    width: 80vw;
    top: 198vw;
    left: 10vw;
  }
  div .talk img:nth-of-type(2) {
    position: absolute;
    width: 75vw;
    top: 190vw;
    left: 10vw;
  }
  div .talk img:nth-of-type(3) {
    position: absolute;
    width: 50vw;
    top: 192vw;
    left: 25vw;
  }
  div .random h3 {
    position: absolute;
    left: 15vw;
    top: 215vw;
    font-family: "Bobaesum Jindo TTF";
    font-weight: 400;
    font-size: 3vw;
    line-height: 128.63%;
    color: #232323;
  }
  div .random h3 span {
    color: #FF8AA3;
  }
  div .random p:nth-of-type(1) {
    position: absolute;
    left: 15vw;
    top: 224vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    color: #232323;
  }
  div .random p:nth-of-type(2) {
    position: absolute;
    left: 15vw;
    top: 227vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 150%;
    color: #FF5D18;
  }
  div .random > span {
    position: absolute;
    left: 15vw;
    top: 233vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 150%;
    color: #232323;
  }
  div .random button {
    position: absolute;
    width: 10vw;
    height: 3vw;
    left: 20vw;
    top: 241vw;
    background: #FEDA00;
    border-radius: 30px;
    color: #232323;
    border: none;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
  }
  div .random img:nth-of-type(1) {
    position: absolute;
    width: 4vw;
    left: 14.5vw;
    top: 240.5vw;
    opacity: 0.6;
  }
  div .random img:nth-of-type(2) {
    position: absolute;
    width: 4vw;
    left: 31.5vw;
    top: 240.5vw;
    opacity: 0.6;
  }
  div .roulette {
    position: relative;
    width: 30vw;
    height: 30vw;
  }
  div .roulette .rouletter-bg {
    position: absolute;
    top: 165vw;
    left: 65vw;
    transform: translate(-50%, -50%);
    width: 28vw;
    height: 28vw;
    border-radius: 350px;
    overflow: hidden;
    border: 5px solid #FF8AA3;
  }
  div .roulette .rouletter-bg .rouletter-wacu img {
    width: 100%;
    height: 100%;
    background: #FF8AA3;
    background-size: 100%;
    transform-origin: center;
    transition-timing-function: ease-in-out;
    transition: 2s;
  }
  div .roulette .rouletter-arrow {
    position: absolute;
    top: 150vw;
    left: 64vw;
    z-index: 9;
  }
  div .roulette .rouletter-arrow img {
    width: 2vw;
  }
  div .roulette .rouletter-btn {
    position: absolute;
    width: 4vw;
    height: 4vw;
    top: 163vw;
    left: 63vw;
    border-radius: 50%;
    border: none;
    background-color: #FF8AA3;
    color: #fff;
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 1vw;
  }
  div .hidden-input {
    display: none;
    z-index: -9;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  div input {
    position: absolute;
  }
  div .slidewrap {
    width: 85vw;
    height: 100vw;
    position: relative;
    overflow: hidden;
    top: 10vw;
    left: 6vw;
    list-style: none;
    border-radius: 0;
  }
  div .slidewrap .slides {
    display: flex;
  }
  div .slidewrap .slides .slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vw;
    overflow: hidden;
    position: relative;
    border-radius: 0;
  }
  div .slidewrap .slides .slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  div .slidewrap .slides .slide .section1,
  div .slidewrap .slides .slide .section2,
  div .slidewrap .slides .slide .section3,
  div .slidewrap .slides .slide .section4,
  div .slidewrap .slides .slide .section5 {
    flex-shrink: 0;
    /* 슬라이드가 줄어들지 않도록 */
    width: 100vw;
    /* 각 슬라이드의 너비를 화면 너비에 맞추기 */
    height: 40vw;
    /* 높이도 비슷하게 맞추기 */
  }
  div .slidewrap .slides .slide div h3 {
    position: absolute;
    left: 11vw;
    top: 64.5vw;
    font-family: "Bobaesum Jindo TTF";
    font-size: 3vw;
    color: #FF8AA3;
    z-index: 1;
  }
  div .slidewrap .slides .slide div img {
    position: absolute;
    width: 30vw;
    left: 6vw;
    top: 55vw;
  }
  div .slidewrap .slides .slide div p {
    position: absolute;
    left: 8vw;
    top: 70vw;
    font-family: "Pretendard Variable";
    font-weight: 800;
    font-size: 2.5vw;
    color: #fff;
  }
  div .slidewrap .slides .slide div span {
    position: absolute;
    width: 25vw;
    left: 8vw;
    top: 74vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 126%;
    color: #fff;
  }
  div .pagination {
    position: relative;
    top: -10vw;
    z-index: 9;
  }
  div .pagination ul {
    position: relative;
    gap: 5vw;
    left: 33vw;
  }
  div .pagination ul li {
    display: inline-block !important;
    margin-left: 3vw !important;
    width: 1vw !important;
    height: 1vw !important;
    background-color: #FEBA00 !important;
    border-radius: 50px !important;
    opacity: 0.5 !important;
    cursor: pointer !important;
  }
  div .pagination ul li.act {
    opacity: 1 !important;
  }
  div .search {
    position: absolute;
    width: 100vw;
    height: 50vw;
    margin: 0;
  }
  div .search input {
    position: absolute;
    width: 70vw;
    height: 8vw;
    left: 13vw;
    top: 15vw;
    border-radius: 50px;
    border: #FF8AA3 2px solid;
    background-color: #FFF3A7;
    color: #FEBA00;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 2.2vw;
    margin: 0;
    padding: 0;
  }
  div .search img {
    position: absolute;
    width: 5vw;
    left: 75vw;
    top: 16.5vw;
  }
  div .btn {
    position: relative;
    font-size: 10vw;
    top: -55vw;
    left: 2vw;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  div .rightbtn {
    left: 75vw;
    top: -65vw;
  }
  div .category {
    position: relative;
    top: -55vw;
    left: -3vw;
  }
  div .category h3 {
    position: absolute;
    left: 39vw;
    top: 86vw;
    font-family: "Bobaesum Jindo TTF";
    font-size: 3vw;
    color: #232323;
  }
  div .category p {
    position: absolute;
    left: 36vw;
    top: 89.5vw;
    font-family: "Pretendard Variable";
    font-size: 2vw;
    text-align: center;
    color: #232323;
  }
  div .category div {
    position: absolute;
    width: 12vw;
    height: 4vw;
    left: 28.5vw;
    top: 106vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  div .category div:nth-of-type(2) {
    left: 61.5vw;
    top: 106vw;
  }
  div .category div:nth-of-type(3) {
    left: 28.5vw;
    top: 140vw;
  }
  div .category div:nth-of-type(4) {
    left: 61.5vw;
    top: 140vw;
  }
  div .category div:nth-of-type(5) {
    left: 45vw;
    top: 173vw;
  }
  div .category div p {
    color: #232323;
    position: absolute;
    left: 4vw;
    top: 1vw;
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 2.2vw;
    z-index: 5;
  }
  div .category img {
    width: 25vw;
    border-radius: 10%;
    position: absolute;
    left: 22vw;
    z-index: -1;
    opacity: 0.8;
    top: 96vw;
    transition: opacity 0.5s;
  }
  div .category img.selected-img {
    opacity: 1;
    border: 5px solid #FF8AA3;
  }
  div .category img:nth-of-type(2) {
    left: 55vw;
    top: 96vw;
  }
  div .category img:nth-of-type(3) {
    top: 130vw;
    left: 22vw;
  }
  div .category img:nth-of-type(4) {
    left: 55vw;
    top: 130vw;
  }
  div .category img:nth-of-type(5) {
    left: 38vw;
    top: 163vw;
  }
  div .category span {
    position: absolute;
    left: 29vw;
    top: 123vw;
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 1.5vw;
    color: #232323;
    background-color: #FFF3A7;
    padding: 1vw 3vw;
    border-radius: 50px;
    transition: all 0.4s;
  }
  div .category span.selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 28.5vw;
  }
  div .category span:nth-of-type(2) {
    left: 62vw;
    top: 123vw;
  }
  div .category span:nth-of-type(2).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 61.5vw;
  }
  div .category span:nth-of-type(3) {
    left: 29vw;
    top: 157vw;
  }
  div .category span:nth-of-type(3).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 28.5vw;
  }
  div .category span:nth-of-type(4) {
    left: 62vw;
    top: 157vw;
  }
  div .category span:nth-of-type(4).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 61.5vw;
  }
  div .category span:nth-of-type(5) {
    left: 45vw;
    top: 190vw;
  }
  div .category span:nth-of-type(5).selected-span {
    background-color: #FF8AA3;
    font-weight: 700;
    left: 44.5vw;
  }
  div .location {
    position: absolute;
    width: 100vw;
    height: 125vw;
    top: 250vw;
    background: #FFF3A7;
    left: -1.5vw;
    border-radius: 0;
    border: none;
  }
  div .location h3 {
    position: absolute;
    left: 32vw;
    top: 10vw;
    font-family: "Bobaesum Jindo TTF";
    font-size: 4vw;
    color: #232323;
  }
  div .location > img:nth-of-type(1) {
    position: absolute;
    left: 30vw;
    width: 20vw;
    top: 18vw;
    border: 2px solid #FF8AA3;
    border-radius: 15px;
  }
  div .location p {
    position: absolute;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 2vw;
    color: #232323;
  }
  div .location p:nth-of-type(1) {
    left: 52vw;
    top: 18.5vw;
  }
  div .location p:nth-of-type(2) {
    left: 52vw;
    top: 22.5vw;
  }
  div .location p:nth-of-type(3) {
    left: 52vw;
    top: 29vw;
  }
  div .location span {
    position: absolute;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    color: #232323;
  }
  div .location span:nth-of-type(1) {
    left: 61.5vw;
    top: 18.5vw;
  }
  div .location span:nth-of-type(2) {
    left: 52vw;
    top: 25.5vw;
  }
  div .location span:nth-of-type(3) {
    left: 65.5vw;
    top: 29vw;
  }
  div .location input {
    position: absolute;
    width: 45vw;
    height: 5vw;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #999999;
    font-size: 2vw;
    font-weight: normal;
  }
  div .location input:nth-of-type(1) {
    left: 30vw;
    top: 35vw;
    text-align: center;
  }
  div .location input:nth-of-type(2) {
    left: 30vw;
    top: 42vw;
    text-align: center;
  }
  div .location label:nth-of-type(1) {
    position: absolute;
    left: 31vw;
    top: 36.5vw;
    font-family: "Pretendard Variable";
    font-weight: 700;
    font-size: 2vw;
    color: #232323;
    width: 10vw;
    background-color: transparent;
  }
  div .location label:nth-of-type(2) {
    position: absolute;
    left: 31vw;
    top: 43.7vw;
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 2vw;
    color: #232323;
    width: 10vw;
    background-color: transparent;
  }
  div .location button {
    position: absolute;
    width: 18vw;
    height: 4vw;
    left: 30vw;
    top: 50vw;
    background: #FF8AA3;
    border-radius: 50px;
    border: none;
    color: #232323;
    font-weight: 700;
    font-family: "Pretendard Variable";
    font-size: 2.2vw;
  }
  div .location button:nth-of-type(2) {
    left: 56vw;
    background-color: #FFA8B8;
  }
  div .location img:nth-of-type(2) {
    position: absolute;
    width: 15vw;
    left: 72vw;
    top: 83vw;
    z-index: 10;
  }
  div .talk {
    position: relative;
    top: -5vw;
  }
  div .talk img:nth-of-type(1) {
    position: absolute;
    width: 80vw;
    top: 298vw;
    left: 10vw;
  }
  div .talk img:nth-of-type(2) {
    position: absolute;
    width: 75vw;
    top: 290vw;
    left: 10vw;
  }
  div .talk img:nth-of-type(3) {
    position: absolute;
    width: 50vw;
    top: 292vw;
    left: 25vw;
  }
  div .random h3 {
    position: absolute;
    left: 10vw;
    top: 420vw;
    font-family: "Bobaesum Jindo TTF";
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 128.63%;
    color: #232323;
  }
  div .random h3 span {
    color: #FF8AA3;
  }
  div .random p:nth-of-type(1) {
    position: absolute;
    left: 10vw;
    top: 432vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 2.2vw;
    color: #232323;
  }
  div .random p:nth-of-type(2) {
    position: absolute;
    left: 10vw;
    top: 436vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 150%;
    color: #FF5D18;
  }
  div .random > span {
    position: absolute;
    left: 10vw;
    top: 447vw;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 150%;
    color: #232323;
  }
  div .random button {
    position: absolute;
    width: 20vw;
    height: 4vw;
    left: 18vw;
    top: 461vw;
    background: #FEDA00;
    border-radius: 30px;
    color: #232323;
    border: none;
    font-family: "Pretendard Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
  }
  div .random img:nth-of-type(1) {
    position: absolute;
    width: 6vw;
    left: 10vw;
    top: 460vw;
    opacity: 0.6;
  }
  div .random img:nth-of-type(2) {
    position: absolute;
    width: 6vw;
    left: 40vw;
    top: 460vw;
    opacity: 0.6;
  }
  div .roulette {
    position: relative;
    width: 30vw;
    height: 30vw;
  }
  div .roulette .rouletter-bg {
    position: absolute;
    top: 340vw;
    left: 70vw;
    transform: translate(-50%, -50%);
    width: 38vw;
    height: 38vw;
    border-radius: 350px;
    overflow: hidden;
    border: 5px solid #FF8AA3;
  }
  div .roulette .rouletter-bg .rouletter-wacu img {
    width: 100%;
    height: 100%;
    background: #FF8AA3;
    background-size: 100%;
    transform-origin: center;
    transition-timing-function: ease-in-out;
    transition: 2s;
  }
  div .roulette .rouletter-arrow {
    position: absolute;
    top: 318.5vw;
    left: 68.5vw;
    z-index: 9;
  }
  div .roulette .rouletter-arrow img {
    width: 3vw;
  }
  div .roulette .rouletter-btn {
    position: absolute;
    width: 8vw;
    height: 8vw;
    top: 335.5vw;
    left: 66.5vw;
    border-radius: 50%;
    border: none;
    background-color: #FF8AA3;
    color: #fff;
    font-family: "Pretendard Variable";
    font-weight: 500;
    font-size: 2vw;
  }
  div .hidden-input {
    display: none;
    z-index: -9;
    opacity: 0;
  }
}