@charset "UTF-8";

@media  (min-width: 1025px) and (max-width: 1920px) {
    .signupBasic {
        background-color: #FFF3A7;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signup {
        box-sizing: border-box;

        position: absolute;
        width: 976px;
        height: 455px;
        left: 461px;
        top: 250px;

        background: #FFFFFF;
        border: 5px solid #FF8AA3;
        border-radius: 50px;
    }

    .signupLogo {

        position: absolute;
        width: 220px;
        height: 169.51px;
        left: 100px;
        top: 170px;
    }

    .loginText {
        position: absolute;
        width: 241px;
        height: 63px;
        left: 120px;
        top: 110px;

        font-family: 'Mungyeong-Gamhong-Apple';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;

        color: #FF8AA3;
    }

    input {
        position: absolute;
        width: 499.5px;
        height: 52.5px;
        left: 370px;
        top: 170px;

        border: 3px solid #000000;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        padding-left: 10px;
    }

    .error {
        position: absolute;
        width: 500px;
        height: 52.5px;
        left: 375px;
        top: 230px;
        color: #FF5D18;
        line-height: 21px;
    }

    input.errorInput {
        border: 3px solid #FF5D18;
    }

    input.errorInput:focus {
        border: 3px solid black; /* 포커스 시에도 빨간색 테두리 유지 */
    }

    .signupId::placeholder {
        color: #AAAAAA
    }

    .loginButton {
        background: #FFF3A7;
        border-radius: 25px;

        position: absolute;
        width: 117px;
        height: 40px;
        left: 653px;
        top: 300px;
        border: none;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        /* identical to box height */

        color: #000000;
    }

    .nextButton {
        position: absolute;
        width: 83px;
        height: 38px;
        left: 803px;
        top: 300px;
        border: none;

        background: #FF8AA3;
        border-radius: 25px;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
    }

    .loginButton:active {
        margin-left: 2px;
        margin-top: 1px;
        box-shadow: 1px 0px 1px 1px black;
    }

    .nextButton:active {
        margin-left: 2px;
        margin-top: 1px;
        box-shadow: 1px 0px 1px 1px black;
    }

    .inputFieldset {
        border: 2px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
        position: relative;
        transition: all 0.3s ease;
    }
    /* 레전드용 */
    label {
        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        color: #aaa;
        transition: transform 0.1s ease, font-size 0.1s ease, color 0.1s ease;
        pointer-events: none;
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        top: 170px;
        left: 380px;
        font-size: 12px;
        background-color: white;
        width: 90px;
        padding-left: 10px;
        color: #007bff;
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        top: 170px;
        left: 380px;
        font-size: 12px;
        background-color: white;
        width: 90px;
        padding-left: 10px;
        color: #007bff;
    }

    input::placeholder {
        visibility: hidden;
    }

    /* 비밀번호 바나나 */
    .passwordToggleBtn img {
        position: absolute;
        cursor: pointer;
        width: 50px;
        height: 50px;
        left: 815px;
        top: 171px;
    }

    button:disabled {
        background-color: #d3d3d3;
        color: #a1a1a1;
        cursor: not-allowed;
    }

    /* 넘어갈 때 애니메이션 */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .inputWrapper {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.5s forwards;
    }

    .inputWrapper.hidden {
        animation: fadeOut 0.5s forwards;
    }

    .search {
        position: absolute;
        height: 2vw;
        left: 37.5%;
        top: 51.1%;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

        color: #232323;
        animation: hello 0.5s ease;
    }

    /* 똑같은거 있는데 혹시 수정할 수 있어서 나눔 */
    @keyframes hello {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .signupBasic {
        background-color: #FFF3A7;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signup {
        box-sizing: border-box;

        position: absolute;
        width: 70vw;
        height: 70vh;
        margin-top: -21%;
        margin-left: -40%;

        background: #FFFFFF;
        border: 5px solid #FF8AA3;
        border-radius: 50px;
    }

    .signupLogo {
        position: absolute;
        width: 20vw;
        height: 30vh;
        margin-top: -7%;
        margin-left: -9%;
    }

    .loginText {
        position: absolute;
        width: 200vw;
        margin-top: 12%;
        margin-left: 7.5%;

        font-family: 'Mungyeong-Gamhong-Apple';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;

        color: #FF8AA3;
    }

    input {
        position: absolute;
        width: 35vw;
        height: 10vh;
        margin-top: -10%;
        margin-left: -20%;

        border: 3px solid #000000;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        padding-left: 10px;
    }

    .error {
        position: absolute;
        width: 100vw;
        margin-top: -11%;
        margin-left: -20%;
        color: #FF5D18;
        line-height: 21px;
    }

    input.errorInput {
        border: 3px solid #FF5D18;
    }

    input.errorInput:focus {
        border: 3px solid black; /* 포커스 시에도 빨간색 테두리 유지 */
    }

    .signupId::placeholder {
        color: #AAAAAA
    }

    .loginButton {
        display: flex; justify-content: center; align-items: center;
        background: #FFF3A7;
        border-radius: 25px;

        position: absolute;
        width: 15vw;
        transform: translate(-270%, -120%);
        border: none;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        /* identical to box height */

        color: #000000;
    }

    .nextButton {
        position: absolute;
        width: 10vw;
        transform: translate(-390%, -125%);
        border: none;

        background: #FF8AA3;
        border-radius: 25px;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

        color: #000000;
    }

    .loginButton:active {
        margin-left: 2px;
        margin-top: 1px;
        box-shadow: 1px 0px 1px 1px black;
    }

    .nextButton:active {
        margin-left: 2px;
        margin-top: 1px;
        box-shadow: 1px 0px 1px 1px black;
    }

    .inputFieldset {
        border: 2px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
        position: relative;
        transition: all 0.3s ease;
    }
    /* 레전드용 */
    label {
        position: absolute;
        transform: translate(-130%, -440%);
        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        color: #aaa;
        transition: transform 0.1s ease, font-size 0.1s ease, color 0.1s ease;
        pointer-events: none;
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        margin-top: -40%;
        margin-left: -20%;
        font-size: 12px;
        background-color: white;
        width: 90px;
        padding-left: 10px;
        color: #007bff;
        display:none
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        margin-top: 5%;
        margin-left: 5%;
        scale: 5;
        font-size: 12px;
        background-color: white;
        width: 90px;
        padding-left: 10px;
        color: #007bff;
    }

    input::placeholder {
        visibility: hidden;
    }

    /* 비밀번호 바나나 */
    .passwordToggleBtn img {
        position: absolute;
        cursor: pointer;
        width: 5vw;
        height: 9vh;
        margin-top: -9.7%;
        margin-left: -47%;
    }

    button:disabled {
        background-color: #d3d3d3;
        color: #a1a1a1;
        cursor: not-allowed;
    }

    /* 넘어갈 때 애니메이션 */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .inputWrapper {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.5s forwards;
    }

    .inputWrapper.hidden {
        animation: fadeOut 0.5s forwards;
    }
    .search {
        position: absolute;
        width : 20vw;
        margin-top: -6.5%;
        margin-left: 25.5%;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;

        color: #232323;
        animation: hello 0.5s ease;
    }

    /* 똑같은거 있는데 혹시 수정할 수 있어서 나눔 */
    @keyframes hello {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media (max-width:768px) {
    .signupBasic {
        background-color: #FFF3A7;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signup {
        box-sizing: border-box;

        position: absolute;
        width: 70vw;
        height: 60vh;
        margin-top: -29%;
        margin-left: -72%;

        background: #FFFFFF;
        border: 5px solid #FF8AA3;
        border-radius: 50px;
    }

    .signupLogo {
        position: absolute;
        width: 15vw;
        height: 18vh;
        margin-top: -15%;
        margin-left: -15%;
    }

    .loginText {
        position: absolute;
        width: 100vw;
        margin-top: 18%;
        margin-left: 11%;

        font-family: 'Mungyeong-Gamhong-Apple';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 62px;

        color: #FF8AA3;
    }

    input {
        position: absolute;
        width: 36vw;
        height: 8vh;
        margin-top: -18%;
        margin-left: -57%;

        border: 3px solid #000000;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        padding-left: 10px;
    }

    .error {
        position: absolute;
        width: 100vw;
        margin-top: -23.5%;
        margin-left: -57%;
        color: #FF5D18;
        line-height: 21px;
        font-size: 10px;
    }

    input.errorInput {
        border: 3px solid #FF5D18;
    }

    input.errorInput:focus {
        border: 3px solid black; /* 포커스 시에도 빨간색 테두리 유지 */
    }

    .signupId::placeholder {
        color: #AAAAAA
    }

    .loginButton {
        display: flex; justify-content: center; align-items: center;
        background: #FFF3A7;
        border-radius: 25px;

        position: absolute;
        width: 14vw;
        transform: translate(-575%, -235%);
        border: none;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        /* identical to box height */

        color: #000000;
    }

    .nextButton {
        position: absolute;
        width: 7vw;
        transform: translate(-1275%, -240%);
        border: none;

        background: #FF8AA3;
        border-radius: 25px;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;

        color: #000000;
    }

    .loginButton:active {
        margin-left: 2px;
        margin-top: 1px;
        box-shadow: 1px 0px 1px 1px black;
    }

    .nextButton:active {
        margin-left: 2px;
        margin-top: 1px;
        box-shadow: 1px 0px 1px 1px black;
    }

    .inputFieldset {
        border: 2px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 20px;
        position: relative;
        transition: all 0.3s ease;
    }
    /* 레전드용 */
    label {
        width: 20vw;
        position: absolute;
        transform: translate(-200%, -525%);
        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        color: #aaa;
        transition: transform 0.1s ease, font-size 0.1s ease, color 0.1s ease;
        pointer-events: none;
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        margin-top: -6%;
        margin-left: -10%;
        font-size: 10px;
        background-color: white;
        width: 90px;
        padding-left: 10px;
        color: #007bff;
    }

    input:focus + label, input:not(:placeholder-shown) + label {
        margin-top: -10%;
        margin-left: -10%;
        font-size: 10px;
        background-color: white;
        width: 90px;
        padding-left: 10px;
        color: #007bff;
        scale:10;
    }

    input::placeholder {
        visibility: hidden;
    }

    /* 비밀번호 바나나 */
    .passwordToggleBtn img {
        position: absolute;
        cursor: pointer;
        width: 5vw;
        height: 7vh;
        margin-top:-17.5%;
        margin-left: -127.5%;
    }

    button:disabled {
        background-color: #d3d3d3;
        color: #a1a1a1;
        cursor: not-allowed;
    }

    /* 넘어갈 때 애니메이션 */
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .inputWrapper {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.5s forwards;
    }

    .inputWrapper.hidden {
        animation: fadeOut 0.5s forwards;
    }
    .search {
        position: absolute;
        width : 20vw;
        margin-top: -9.4%;
        margin-left: 15%;

        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        color: #232323;
        animation: hello 0.5s ease;
    }

    /* 똑같은거 있는데 혹시 수정할 수 있어서 나눔 */
    @keyframes hello {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}