@import "../../../../common/reset/reset.scss";

#menuStyle{
    position: absolute;
    text-align: center;
    display: table;
    border: none;
    left : 1220px;
    top : 520px;
    width: 300px;
    height: 450px;

    #menuImg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }    
}
// @media screen and (min-width : 769px) and (max-width : 1024px){
  
//     #menuImg{
//         position: absolute;
//         z-index: 10;
//         width : 380px;
//         height : 230px;
//         left : 520px;
//         top : 330px;
//         border-radius: 0;
//     }
// }

// @media screen and (max-width:768px){
    
//     #menuImg{
//         position: absolute;
//         z-index: 10;
//         width : 280px;
//         height : 150px;
//         left : 98px;
//         top : 260px;
//         border-radius: 0;
//     }
// }
