.bannerStyle {
  position: relative;
  overflow: hidden;
  left: 40px;
  top: 120px;
  width: 1525px;
  height: 201px;
  border-radius: 0;
}
.bannerStyle .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.bannerStyle .slider .slide {
  min-width: 100%;
  box-sizing: border-box;
}
.bannerStyle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .bannerStyle {
    position: relative;
    overflow: hidden;
    left: 17px;
    top: 90px;
    width: 910px;
    height: 207px;
    border-radius: 0;
  }
  .bannerStyle .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .bannerStyle .slider .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .bannerStyle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .bannerStyle {
    position: relative;
    overflow: hidden;
    left: 17px;
    top: 45px;
    width: 450px;
    height: 90px;
    border-radius: 0;
  }
  .bannerStyle .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .bannerStyle .slider .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .bannerStyle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} */