.inquiryListText {
    position: absolute;
    width: 230px;
    height: 55px;
    left: 61px;
    top: 47px;

    font-family: 'Bobaesum Jindo TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;

    color: #1E1E1E;
}

.totalInquiryCount {
    position: absolute;
    height: 55px;
    left: 61px;
    top: 108px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;

    color: #1E1E1E;
}

.inquiryListSelection {
    position: absolute;
    width: 167px;
    height: 43px;
    left: 308px;
    top: 53px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    background: #FFFFFF;
    border: 3px solid #FF8AA3;
    border-radius: 50px;

    cursor: pointer;
}

.inquiryListSearchInput {
    position: absolute;
    width: 840px;
    height: 64px;
    left: 695px;
    top: 36px;

    padding-left: 20px;
    background: #FFFFFF;
    border: 3px solid #FF8AA3;
    border-radius: 50px;
}

.inquiryListStatusSelection {
    position: absolute;
    width: 740px;
    height: 64px;
    left: 695px;
    top: 36px;

    padding-left: 20px;
    background: #FFFFFF;
    border: 3px solid #FF8AA3;
    border-radius: 50px;
}

.inquiryListSearchBtn {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 1453px;
    top: 42px;

    border: none;
    background-color: #FFFFFF;
    background-image: url('images/Search.png');
    cursor: pointer;
}

.inquiryListSearchBtn:hover {
    opacity: 0.8;
}

.inquiryList {
    position: absolute;
    width: 1489px;
    height: 71px;
    left: 61px;
    top: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

.inquiryListHeader {
    height: 71px;
    background-color: #7BD5FF;

    font-family: 'Bobaesum Jindo TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    align-content: center;

    color: #232323;
}

.inquiryListHeader th {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

#inquiryListBodyPosition {
    position: absolute;
    left: 61px;
    top: 221px;
}

.inquiryListBody {
    width: 1489px;
    height: 71px;
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    align-content: center;

    color: #232323;

    border: 1px solid #E3E3E3;
    border-radius: 0px;
    user-select: text;
}

.inquiryListBody>div {
    display: inline-block;
    user-select: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inquiryListBody:hover {
    background-color: #f5f5f5;
}

.pageNation {
    position: absolute;
    justify-content: center;
    height: 28px;
    left: 620px;
    top: 700px;
    display: flex;
    align-content: center;
}

.pageNumArea {
    display: flex;
    justify-content: center;
    width: 200px;
}

.pageNumBtn {
    text-align: center;
    background-color: white;
    border: none;
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #232323;
    opacity: 50%;
    width: 38px;
    border: none;
    cursor: pointer;
}

.pageNumBtn.active {
    color: #232323;
    opacity: 100%;
}

.pageNationBackBtn {
    display: inline-block;
    text-align: start;
    width: 40px;
    background-color: #FFFFFF;
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #232323;
    border: none;
    color: #FF8AA3;
    cursor: pointer;
}

.pageNationForwordBtn {
    display: inline-block;
    text-align: end;
    width: 40px;
    background-color: #FFFFFF;
    font-family: 'BobaesumJindoTTF';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #232323;
    border: none;
    color: #FF8AA3;
    cursor: pointer;
}

.pageNationBackBtn.disabled,
.pageNationForwordBtn.disabled {
    visibility: hidden;
}

.inquiryListBtnPosition {
    position: absolute;
    left: 51px;
    top: 650px;
}

.inquiryListBtn {
    width: 133px;
    height: 43px;
    
    background: transparent;
    border: 1px solid #FEDA00;
    border-radius: 10px;

    opacity: 50%;

    margin-left: 10px;
    

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 19.3027px;
    line-height: 23px;
    
    align-items: center;

    
    color: #1E1E1E;
}

.inquiryListBtn.active {
    background: #FEDA00;
    opacity: 100%;
}

.inquiryListBtn:hover {
    background: #FEDA00;
    opacity: 100%;
    color: #FFFFFF;
}